resources/xsd/reimari/harja.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 sp1 (x64) (http://www.altova.com) by self (self) -->
<xs:schema xmlns="http://www.liikennevirasto.fi/xsd/harja/reimari"
	   xmlns:xs="http://www.w3.org/2001/XMLSchema"
	   targetNamespace="http://www.liikennevirasto.fi/xsd/harja/reimari"
	   elementFormDefault="qualified">

  <xs:element name="HaeToimenpiteet" type="HaeToimenpiteetPayload"/>

  <xs:complexType name="HaeToimenpiteetPayload">
    <xs:choice>
      <xs:element name="HaeToimenpiteetRequest" type="HaeToimenpiteetRequestType"/>
      <xs:element name="HaeToimenpiteetResponse" type="HaeToimenpiteetResponseType"/>
    </xs:choice>
  </xs:complexType>

  <!-- HaeToimenpiteetRequest sisältää vain alku- ja
       loppuaika-attribuutit, jotka kertoo aikaleimaat joiden välissä
       luodut tai muokatut tulee palauttaa -->
  <xs:complexType name="HaeToimenpiteetRequestType">
      <xs:attribute name="alkuaika" type="xs:dateTime" use="required"/>
      <xs:attribute name="loppuaika" type="xs:dateTime" use="required"/>
  </xs:complexType>

  <!-- HaeToimenpiteetResponse sisältää haun muutoaika aikaleiman jälkeen muokatut tai luodut toimenpiteet
       sekä niihin linkitetyt tiedot. -->
  <xs:complexType name="HaeToimenpiteetResponseType">
    <xs:sequence>
      <xs:element name="toimenpide" type="ToimenpideType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Toimenpide sisältää itse toimenpiteen tiedot -->
  <xs:complexType name="ToimenpideType">

    <xs:all>
      <xs:element name="urakoitsija" type="UrakoitsijaType"/>
      <xs:element name="sopimus" type="SopimusType"/>
      <xs:element name="alus" type="AlusType" minOccurs="0"/>
      <xs:element name="vayla" type="VaylaType"/>
      <xs:element name="turvalaite" type="TurvalaiteType"/>
      <xs:element name="komponentit" type="KomponentitType" minOccurs="0"/>
      <xs:element name="viat" type="ToimenpiteenViatType" minOccurs="0"/>
    </xs:all>

    <xs:attribute type="xs:string" name="id" use="required"/>
    <xs:attribute type="xs:token" name="tyolaji" use="required"/> <!-- esim "1022541802" (poijut) -->
    <xs:attribute type="xs:token" name="tyoluokka" use="required"/> <!-- esim "1022541905" (valo- ja energialaitteet) -->
    <xs:attribute type="xs:token" name="tyyppi" use="required"/> <!-- esim "1022542001" (valo- ja energialaitetyöt) -->
    <xs:attribute type="xs:string" name="lisatieto" use="required"/> <!-- vapaateksti lisätieto -->
    <xs:attribute type="xs:boolean" name="lisatyo" use="required"/> <!-- true = lisätyötä -->
    <xs:attribute type="xs:token" name="tila" use="required"/> <!-- esim "1022541202" (suoritettu) -->
    <xs:attribute type="xs:dateTime" name="suoritettu" use="required"/> <!-- suorituspvm ja -aika -->
    <xs:attribute type="xs:dateTime" name="luotu" use="required"/> <!-- tietokantaan luontiaika -->
    <xs:attribute type="xs:dateTime" name="muokattu" use="optional"/> <!-- muokkausaika, jos muokattu luonnin jälkeen -->
    <xs:attribute type="xs:string" name="asiakas" use="optional"/> <!-- asiakkaan nimi, jos merkitty -->
    <xs:attribute type="xs:string" name="vastuuhenkilo" use="optional"/> <!-- vastuuhenkilön nimi, jos tiedossa -->
    <xs:attribute type="xs:integer" name="henkilo-lkm" use="optional"/>  <!-- henkilöiden määrä -->
  </xs:complexType>

  <xs:complexType name="UrakoitsijaType">
    <xs:attribute type="xs:integer" name="id" use="required"/> <!-- PRODUCER_ID -->
    <xs:attribute type="xs:string" name="nimi" use="required"/>
  </xs:complexType>

  <xs:complexType name="SopimusType">
    <xs:attribute type="xs:integer" name="nro" use="required"/> <!-- CONTRACT_ID -->
    <xs:attribute type="xs:token" name="tyyppi" use="optional"/>
    <xs:attribute type="xs:token" name="diaarinro" use="optional"/>
    <xs:attribute type="xs:string" name="nimi" use="optional"/>
  </xs:complexType>

  <xs:complexType name="AlusType">
    <xs:attribute type="xs:token" name="tunnus" use="required"/>
    <xs:attribute type="xs:string" name="nimi"/>
  </xs:complexType>

  <xs:complexType name="VaylaType">
    <xs:attribute type="xs:token" name="nro" use="optional"/> <!-- VAYLA.JNRO -->
    <xs:attribute type="xs:string" name="nimi" use="optional"/> <!-- VAYLA.VAY_NIMISU -->
  </xs:complexType>

  <xs:complexType name="TurvalaiteType">
    <xs:attribute type="xs:token" name="nro" use="required"/>
    <xs:attribute type="xs:string" name="nimi" use="optional"/>
    <xs:attribute type="xs:integer" name="ryhma" use="required"/>
  </xs:complexType>

  <xs:complexType name="TurvalaitteetType">
    <xs:sequence>
      <xs:element name="turvalaite" type="TurvalaiteType" maxOccurs="unbounded">
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="KomponenttiType">
      <xs:attribute type="xs:token" name="id" use="required"/> <!--SDCOMP_ID -->
      <xs:attribute type="xs:string" name="nimi" use="optional"/>
      <xs:attribute type="xs:token" name="tila" use="required"/>
  </xs:complexType>

  <xs:complexType name="KomponentitType">
      <xs:sequence>
          <xs:element name="komponentti" type="KomponenttiType" maxOccurs="unbounded">
          </xs:element>
      </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ToimenpiteenViatType">
      <xs:sequence>
          <xs:element name="vika" type="ToimenpiteenVikaType" maxOccurs="unbounded">
          </xs:element>
      </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ToimenpiteenVikaType">
      <xs:attribute type="xs:token" name="vika-id" use="required"/>
      <xs:attribute type="xs:token" name="tila" use="required"/> <!-- arvot: kirjattu, avoin, korjattu, aiheeton, peruttu -->
  </xs:complexType>

  <!-- HaeKomponenttiTyypit -->

  <xs:element name="HaeKomponenttiTyypit" type="HaeKomponenttiTyypitPayload"/>

  <xs:complexType name="HaeKomponenttiTyypitPayload">
    <xs:choice>
      <xs:element name="HaeKomponenttiTyypitRequest" type="HaeKomponenttiTyypitRequestType"/>
      <xs:element name="HaeKomponenttiTyypitResponse" type="HaeKomponenttiTyypitResponseType"/>
    </xs:choice>
  </xs:complexType>

  <!-- HaeKomponenttiTyypitRequest sisältää vain alku/loppuaika-attribuutit, jotka kertovat aikaleimat
       joiden välissä luodut tai muokatut tulee palauttaa -->
  <xs:complexType name="HaeKomponenttiTyypitRequestType">
      <xs:attribute name="alkuaika" type="xs:dateTime" use="required"/>
      <xs:attribute name="loppuaika" type="xs:dateTime" use="required"/>
  </xs:complexType>

  <!-- HaeToimenpiteetResponse sisältää haun muutoaika aikaleiman jälkeen muokatut tai luodut komponenttityypit
       sekä niihin linkitetyt komponenttiluokat. -->
  <xs:complexType name="HaeKomponenttiTyypitResponseType">
    <xs:sequence>
      <xs:element name="komponenttityyppi" type="KomponenttiTyyppiType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="KomponenttiTyyppiType">
    <xs:attribute type="xs:token" name="id" use="required"/> <!-- T_COMPONENT id -->
    <xs:attribute type="xs:string" name="nimi" use="required"/> <!-- komponentin nimi -->
    <xs:attribute type="xs:string" name="lisatiedot" use="required"/> <!-- MEM eli muistiinpanot/lisätiedot -->
    <xs:attribute type="xs:token" name="luokan-id" use="required"/> <!-- COMPCLASS_ID -->
    <xs:attribute type="xs:token" name="luokan-nimi" use="required"/> <!-- compclass.COMPCLASS_NME -->
    <xs:attribute type="xs:token" name="luokan-lisatiedot" use="required"/> <!-- compclass.COMPCLASS_MEM -->
    <xs:attribute type="xs:dateTime" name="luokan-paivitysaika" use="required"/> <!-- compclass.COMPCLASS_UTS -->
    <xs:attribute type="xs:dateTime" name="luokan-luontiaika" use="required"/> <!-- compclass.COMPCLASS_CTS -->
    <xs:attribute type="xs:token" name="merk-cod" use="required"/> <!-- COMPONENT_MERK_COD -->
    <xs:attribute type="xs:dateTime" name="muokattu" use="required"/> <!-- UTS -->
    <xs:attribute type="xs:dateTime" name="luontiaika" use="required"/> <!-- CTS -->
    <xs:attribute type="xs:date" name="alkupvm" use="required"/> <!-- SDT -->
    <xs:attribute type="xs:date" name="loppupvm" use="required"/> <!-- EDT -->
  </xs:complexType>

  <!-- HaeTurvalaiteKomponentit -->

  <xs:element name="HaeTurvalaiteKomponentit" type="HaeTurvalaiteKomponentitPayload"/>

  <xs:complexType name="HaeTurvalaiteKomponentitPayload">
      <xs:choice>
          <xs:element name="HaeTurvalaiteKomponentitRequest" type="HaeTurvalaiteKomponentitRequestType"/>
          <xs:element name="HaeTurvalaiteKomponentitResponse" type="HaeTurvalaiteKomponentitResponseType"/>
      </xs:choice>
  </xs:complexType>

  <xs:complexType name="HaeTurvalaiteKomponentitRequestType">
      <xs:attribute name="alkuaika" type="xs:dateTime" use="required"/>
      <xs:attribute name="loppuaika" type="xs:dateTime" use="required"/>
  </xs:complexType>

  <xs:complexType name="HaeTurvalaiteKomponentitResponseType">
    <xs:sequence>
      <xs:element name="turvalaitekomponentti" type="TurvalaiteKomponenttiType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TurvalaiteKomponenttiType">
    <xs:attribute type="xs:token" name="id" use="required"/> <!-- SDCOMP_ID -->
    <xs:attribute type="xs:string" name="lisatiedot" use="required"/> <!-- SDCOMP_MEM -->
    <xs:attribute type="xs:token" name="turvalaitenro" use="required"/>
    <xs:attribute type="xs:token" name="komponentti-id" use="required"/> <!-- COMPONENT_ID -->
    <xs:attribute type="xs:date" name="alkupvm" use="required"/> <!-- SDT -->
    <xs:attribute type="xs:date" name="loppupvm" use="required"/> <!-- EDT -->
    <xs:attribute type="xs:string" name="sarjanumero" use="required"/> <!-- SERIAL_CHR -->
    <xs:attribute type="xs:dateTime" name="muokattu" use="required"/> <!-- UTS -->
    <xs:attribute type="xs:dateTime" name="luontiaika" use="required"/> <!-- CTS -->
    <xs:attribute type="xs:string" name="luoja" use="required"/> <!-- CUI -->
    <xs:attribute type="xs:string" name="muokkaaja" use="required"/> <!-- UUI -->
    <xs:attribute type="xs:boolean" name="valiaikainen" use="required"/> <!-- SDCOMP_TEMPORARY -->
  </xs:complexType>

  <!-- Viat-rajapinta -->

  <xs:element name="HaeViat" type="HaeViatPayload"/>

  <xs:complexType name="HaeViatPayload">
    <xs:choice>
      <xs:element name="HaeViatRequest" type="HaeViatRequestType"/>
      <xs:element name="HaeViatResponse" type="HaeViatResponseType"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="HaeViatRequestType">
      <xs:attribute name="alkuaika" type="xs:dateTime" use="required"/>
      <xs:attribute name="loppuaika" type="xs:dateTime" use="required"/>
  </xs:complexType>

  <xs:complexType name="HaeViatResponseType">
    <xs:sequence>
      <xs:element name="vika" type="VikaType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Itse vian tiedot -->
  <xs:complexType name="VikaType">
      <xs:attribute type="xs:token" name="id" use="required"/>
      <xs:attribute type="xs:token" name="turvalaitenro" use="required"/>
      <xs:attribute type="xs:string" name="lisatiedot" use="required"/>
      <xs:attribute type="xs:string" name="ilmoittaja" use="required"/>
      <xs:attribute type="xs:string" name="ilmoittajan-yhteystieto" use="required"/>
      <xs:attribute type="xs:boolean" name="epakunnossa" use="required"/> <!-- FAULT_NOTWORKING -->
      <xs:attribute type="xs:token" name="tyyppikoodi" use="required"/> <!-- FAULT_TYPE_CDE -->
      <!-- fault_type_cde: -->
      <!-- 1022541001      Valo pimeä                                        -->
      <!-- 1022541002      Valo virheellinen                                 -->
      <!-- 1022541003      Virheellinen sijainti                             -->
      <!-- 1022541004      Tuhoutunut/kadonnut                               -->
      <!-- 1022541005      Virheelliset sektorit                             -->
      <!-- 1022541006      Rikkoutunut                                       -->
      <!-- 1022541007      Näkymäeste                                        -->
      <!-- 1022541008      Turvalaitetyö                                     -->

      <xs:attribute type="xs:token" name="tilakoodi" use="required"/> <!-- FAULT_STATE_CDE -->
      <!-- fault_state_cde: -->
      <!-- 1022541101      Kirjattu                                          -->
      <!-- 1022541102      Avoin                                              -->
      <!-- 1022541103      Korjattu                                          -->
      <!-- 1022541104      Aiheeton                                          -->
      <!-- 1022541105      Peruttu -->


      <xs:attribute type="xs:dateTime" name="havaittu" use="optional"/> <!-- FAULT_OBSERVD_DTE+TME -->
      <xs:attribute type="xs:dateTime" name="kirjattu" use="required"/> <!-- FAULT_ENTRY_DTE+TME -->
      <xs:attribute type="xs:dateTime" name="korjattu" use="optional"/> <!-- FAULT_FIXED_DTE+TME -->

      <xs:attribute type="xs:dateTime" name="muokattu" use="required"/> <!-- UTS -->
      <xs:attribute type="xs:dateTime" name="luontiaika" use="required"/> <!-- CTS -->
      <xs:attribute type="xs:string" name="luoja" use="required"/> <!-- CUI -->
      <xs:attribute type="xs:string" name="muokkaaja" use="required"/> <!-- UUI -->
  </xs:complexType>



  <!-- HaeTurvalaitetyhmät eli urakka-alueiden muodostuksen perustana käytetyt turvalaitekokoelmat -->

  <xs:element name="HaeTurvalaiteryhmat" type="HaeTurvalaiteryhmatPayload"/>

  <xs:complexType name="HaeTurvalaiteryhmatPayload">
    <xs:choice>
      <xs:element name="HaeTurvalaiteryhmatRequest" type="HaeTurvalaiteryhmatRequestType"/>
      <xs:element name="HaeTurvalaiteryhmatResponse" type="HaeTurvalaiteryhmatResponseType"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="HaeTurvalaiteryhmatRequestType">
    <xs:attribute type="xs:string" name="alkuaika" use="required"/>
    <xs:attribute type="xs:string" name="loppuaika"/> <!-- Kyselysanoman muodostamishetki jos ei annettu. -->
  </xs:complexType>

  <xs:complexType name="HaeTurvalaiteryhmatResponseType">
    <xs:sequence>
      <xs:element name="turvalaiteryhma" type="TurvalaiteRyhmaType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TurvalaiteRyhmatType">
    <xs:sequence>
      <xs:element name="turvalaiteryhma" type="TurvalaiteRyhmaType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TurvalaiteRyhmaType">
    <xs:all>
      <xs:element name="turvalaitteet" type="TurvalaitteetType" /> <!-- Linkkitaulu: T_SDGROUP_SD -->
    </xs:all>
    <xs:attribute type="xs:string" name="tunnus"/> <!-- T_SD_GROUP.SDGROUP_ID -->
    <xs:attribute type="xs:string" name="nimi"/> <!-- T_SD_GROUP.SDGROUP_NME -->
    <xs:attribute type="xs:string" name="kuvaus"/> <!-- T_SD_GROUP.SDGROUP_MEM -->
  </xs:complexType>


  </xs:schema>


