resources/xsd/sampo/outbound/nikuxog_inv_common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.0 NT beta 2 build Jul 26 2001 (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="./common.xsd"/>
  <xs:include schemaLocation="./nikuxog_inv_associations.xsd"/>
  <xs:include schemaLocation="./nikuxog_npio_fin_properties_common.xsd"/>
  <xs:include schemaLocation="./nikuxog_glallocation_common.xsd"/>
  <xs:complexType name="ScenarioDependency">
    <xs:attribute name="objectInstanceCode" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="20"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="name" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="80"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="objectType" type="investmentObjectCodeType" use="optional"/>
    <xs:attribute name="delete" type="xs:boolean"/>
  </xs:complexType>
  <xs:element name="scenarioDependencies">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="scenarioDependency" type="ScenarioDependency" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
    <!-- PRJ_PROJECT_DEPENDS records -->
  </xs:element>
  <xs:complexType name="InvestmentObjectType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
          Fields/structure common to all Investment objects.  
                 Specializations of those objects are found in: 
                  nikuxog_asset.xsd 
                  nikuxog_application.xsd 
                  nikuxog_product.xsd
                  nikuxog_service.xsd 
                  nikuxog_otherInvestment.xsd
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="FinancialPropertiesType">
        <xs:sequence>
          <xs:element ref="Allocations" minOccurs="0"/>
          <xs:element ref="scenarioDependencies" minOccurs="0"/>
          <xs:element ref="InvestmentAssociations" minOccurs="0"/>
          <xs:element ref="InvestmentBaselines" minOccurs="0"/>
          <xs:element ref="InvestmentResources" minOccurs="0"/>
          <xs:element ref="InvestmentTasks" minOccurs="0"/>
          <xs:element ref="General" minOccurs="0"/>
          <xs:element name="OBSAssocs" type="OBSAssocsType" minOccurs="0"/>
          <xs:element ref="CustomInformation" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="status" default="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
			  <xs:enumeration value="6"/>
			  <xs:enumeration value="7"/>
			  <xs:enumeration value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="name" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="objectID">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="20"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="description">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="762"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="priority">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="0"/>
              <xs:maxInclusive value="36"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="managerUserName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="32"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="approvedByID">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="32"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="chargeCodeExtID" type="xs:string"/>
        <xs:attribute name="defaultStaffOBSUnit" type="xs:string"/>
        <xs:attribute name="defaultStaffOBSType" type="xs:string"/>
        <xs:attribute name="lastUpdatedBy" type="xs:string"/>
        <xs:attribute name="lastUpdatedDate" type="investmentDateTimeType"/>
        <xs:attribute name="active" type="xs:boolean"/>
        <xs:attribute name="approvedTime" type="investmentDateTimeType"/>
        <xs:attribute name="processCode" type="investmentCodeType"/>
        <xs:attribute name="stageCode" type="investmentCodeType"/>
        <xs:attribute name="assgnPool" type="investmentCodeType"/>
        <xs:attribute name="categoryCode" type="investmentCodeType"/>
        <xs:attribute name="goalCode" type="investmentCodeType"/>
        <xs:attribute name="alignment" type="xs:integer"/>
        <xs:attribute name="risk" type="xs:integer"/>
        <xs:attribute name="statusIndicator" type="xs:integer"/>
        <xs:attribute name="statusComment">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="useSystemDefinedTotalCostOfCapital" type="xs:boolean" default="true"/>
        <xs:attribute name="investmentDefinedTotalCostOfCapital" type="xs:double"/>
        <xs:attribute name="useSystemDefinedReinvestmentRate" type="xs:boolean" default="true"/>
        <xs:attribute name="investmentDefinedReinvestmentRate" type="xs:double"/>
        <xs:attribute name="initialInvestment" type="xs:double"/>
        <xs:attribute name="progress" default="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="plannedCostTotal" type="xs:double"/>
        <xs:attribute name="plannedCostStart" type="investmentDateTimeType"/>
        <xs:attribute name="plannedCostFinish" type="investmentDateTimeType"/>
        <xs:attribute name="plannedBenTotal" type="xs:double"/>
        <xs:attribute name="plannedBenStart" type="investmentDateTimeType"/>
        <xs:attribute name="plannedBenFinish" type="investmentDateTimeType"/>
        <xs:attribute name="budgetCostTotal" type="xs:double"/>
        <xs:attribute name="budgetCostStart" type="investmentDateTimeType"/>
        <xs:attribute name="budgetCostFinish" type="investmentDateTimeType"/>
        <xs:attribute name="budgetCostOnHold" type="investmentDateTimeType"/>
        <xs:attribute name="budgetCostResume" type="investmentDateTimeType"/>
        <xs:attribute name="budgetRevTotal" type="xs:double"/>
        <xs:attribute name="budgetRevStart" type="investmentDateTimeType"/>
        <xs:attribute name="budgetRevFinish" type="investmentDateTimeType"/>
        <xs:attribute name="budgetRevOnHold" type="investmentDateTimeType"/>
        <xs:attribute name="budgetRevResume" type="investmentDateTimeType"/>
        <xs:attribute name="forecastCostTotal" type="xs:double"/>
        <xs:attribute name="forecastCostStart" type="investmentDateTimeType"/>
        <xs:attribute name="forecastCostFinish" type="investmentDateTimeType"/>
        <xs:attribute name="forecastCostOnHold" type="investmentDateTimeType"/>
        <xs:attribute name="forecastCostResume" type="investmentDateTimeType"/>
        <xs:attribute name="forecastRevTotal" type="xs:double"/>
        <xs:attribute name="forecastRevStart" type="investmentDateTimeType"/>
        <xs:attribute name="forecastRevFinish" type="investmentDateTimeType"/>
        <xs:attribute name="forecastRevOnHold" type="investmentDateTimeType"/>
        <xs:attribute name="forecastRevResume" type="investmentDateTimeType"/>
        <xs:attribute name="plannedNPV" type="xs:double"/>
        <xs:attribute name="plannedROI" type="xs:double"/>
        <xs:attribute name="plannedIRR" type="xs:double"/>
        <xs:attribute name="plannedMIRR" type="xs:double"/>
        <xs:attribute name="plannedPaybackPeriod" type="xs:double"/>
        <xs:attribute name="plannedBreakEven" type="investmentDateTimeType"/>
        <xs:attribute name="budgetNPV" type="xs:double"/>
        <xs:attribute name="budgetROI" type="xs:double"/>
        <xs:attribute name="budgetIRR" type="xs:double"/>
        <xs:attribute name="budgetMIRR" type="xs:double"/>
        <xs:attribute name="budgetPaybackPeriod" type="xs:double"/>
        <xs:attribute name="budgetBreakEven" type="investmentDateTimeType"/>
        <xs:attribute name="forecastNPV" type="xs:double"/>
        <xs:attribute name="forecastROI" type="xs:double"/>
        <xs:attribute name="forecastIRR" type="xs:double"/>
        <xs:attribute name="forecastMIRR" type="xs:double"/>
        <xs:attribute name="forecastPaybackPeriod" type="xs:double"/>
        <xs:attribute name="forecastBreakEven" type="investmentDateTimeType"/>
        <!-- forecastEqualsBudget attribute has been deprecated , use setBudgetValuesEqualToPlannedValues instead.-->
        <xs:attribute name="forecastEqualsBudget" type="xs:boolean" use="optional"/>
        <xs:attribute name="setBudgetValuesEqualToPlannedValues" type="xs:boolean"/>
		    <xs:attribute name="syncInvestmentAndBudgetDates" type="xs:boolean"/>
        <xs:attribute name="entityCode" type="xs:string"/>
        <xs:attribute name="cbkType" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="INVESTMENT"/>
              <xs:enumeration value="STANDARD"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="billExpenseType" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="CAP_EXPENSE"/>
              <xs:enumeration value="DEPRECIATION"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="currencyISOcode">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <!-- calculatePresentValueInfo attribute has been deprecated , use calculateFinancialMetrics instead. -->
        <xs:attribute name="calculatePresentValueInfo" type="xs:boolean" use="optional"/>
        <xs:attribute name="calculateFinancialMetrics" type="xs:boolean"/>
        <xs:attribute name="requiredForScenarios" type="xs:boolean"/>
        <xs:attribute name="trackMode">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="chargeCodeID" type="xs:string"/>
        <xs:attribute name="openForTimeEntry" type="xs:boolean"/>
        <xs:attribute name="start" type="investmentDateTimeType"/>
        <xs:attribute name="finish" type="investmentDateTimeType"/>
        <xs:attribute name="pageLayoutCode">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="32"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>        
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Resource">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Baselines" minOccurs="0"/>
        <xs:element name="AllocCurve" type="CurveType" minOccurs="0"/>
        <xs:element name="HardAllocCurve" type="tsvType" minOccurs="0"/>
        <xs:element ref="CustomInformation" minOccurs="0"/>
        <xs:element name="SkillAssocs" type="SkillAssocsType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="resourceID" type="xs:string" use="required"/>
      <xs:attribute name="delete" type="xs:boolean"/>
      <xs:attribute name="availFrom" type="projectDateTimeType"/>
      <xs:attribute name="availTo" type="projectDateTimeType"/>
      <xs:attribute name="staffOBSUnit" type="xs:string"/>
      <xs:attribute name="staffOBSType" type="xs:string"/>
      <xs:attribute name="isProjectManager" type="xs:boolean"/>
      <xs:attribute name="openForTimeEntry" type="xs:boolean"/>
      <xs:attribute name="projectRoleID" type="xs:string"/>
      <xs:attribute name="lastUpdatedBy" type="xs:string"/>
      <xs:attribute name="lastUpdatedDate" type="projectDateTimeType"/>
      <xs:attribute name="teamId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="requirementName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="bookingStatus">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="5"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="15"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="requestStatus">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="defaultAllocation">
        <xs:simpleType>
          <xs:restriction base="xs:float">
            <xs:minInclusive value="0"/>
            <!--xs:maxInclusive value="1"/-->    <!-- vantive 93592  why max 100 percent?  -->
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <!--not for inbound-->
      <!--not for inbound-->
      <!--not for inbound-->
      <!-- SRM_RESOURCES.UNIQUE_NAME for PRTeam.prResourceID -->
      <!-- IsNull(PRTeam.prAvailStart, PRJ_PROJECTS.prStart, PRTeam.prAvailStart) -->
      <!-- IsNull(PRTeam.prAvailFinish, PRJ_PROJECTS.prFinish, PRTeam.prAvailFinish) -->
      <!-- iif(PRJ_RESOURCES.prIsOpen = false, false, PRTeam.prIsOpen) -->
      <!-- SRM_RESOURCES.UNIQUE_NAME for PRTeam.prProjectRoleID if not null
         else for PRJ_RESOURCES.prPrimaryRoleID -->
      <!-- prModBy -->
      <!-- prModTime -->
      <!-- prBooking Soft:5, Hard:15-->
      <!-- prStatus Closed:0, Open:1-->
      <!-- prAllocCurve default-->
    </xs:complexType>
    <!-- PRTeam record -->
  </xs:element>
  <xs:element name="InvestmentResources">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Resource" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvestmentTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Task" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvestmentBaselines">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="InvestmentBaseline" type="InvestmentBaselineType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Task">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Baselines" minOccurs="0"/>
        <xs:element ref="Assignments" minOccurs="0"/>
        <xs:element ref="estimateRules" minOccurs="0"/>
        <xs:element ref="constraint" minOccurs="0" maxOccurs="6"/>
        <xs:element ref="CustomInformation" minOccurs="0"/>
        <!-- Task level PRField custom fields -->
      </xs:sequence>
      <xs:attribute name="internalTaskID" type="xs:string"/>
      <xs:attribute name="delete" type="xs:boolean"/>
      <xs:attribute name="taskID">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <!--Vantive 99022 Changed size from 20 to 16-->
            <xs:maxLength value="16"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="150"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="parent">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="firstChildOf">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="lastChildOf">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nextSiblingOf">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="orderID" type="xs:integer"/>
      <xs:attribute name="outlineLevel" type="xs:integer"/>
      <xs:attribute name="start" type="projectDateTimeType"/>
      <xs:attribute name="baseStart" type="projectDateTimeType"/>
      <xs:attribute name="finish" type="projectDateTimeType"/>
      <xs:attribute name="baseFinish" type="projectDateTimeType"/>
      <xs:attribute name="milestone" type="xs:boolean"/>
      <xs:attribute name="summary" type="xs:boolean"/>
      <xs:attribute name="key" type="xs:boolean"/>
      <xs:attribute name="category">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="status">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="percComp">
        <xs:simpleType>
          <xs:restriction base="xs:float">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="lastUpdatedBy" type="xs:string"/>
      <xs:attribute name="lastUpdatedDate" type="projectDateTimeType"/>
      <xs:attribute name="priority">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="36"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="earlyStart" type="projectDateTimeType"/>
      <xs:attribute name="lateStart" type="projectDateTimeType"/>
      <xs:attribute name="earlyFinish" type="projectDateTimeType"/>
      <xs:attribute name="lateFinish" type="projectDateTimeType"/>
      <xs:attribute name="duration" type="xs:float"/>
      <xs:attribute name="baselineDuration" type="xs:float"/>
      <xs:attribute name="totalSlack" type="xs:float"/>
      <xs:attribute name="unplanned" type="xs:boolean"/>
      <xs:attribute name="shortName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="16"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="guidelines">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="254"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="fixed" type="xs:boolean"/>
      <xs:attribute name="lockedForScheduling" type="xs:boolean"/>
      <xs:attribute name="baseFixed" type="xs:boolean"/>
      <xs:attribute name="baseTime" type="projectDateTimeType"/>
      <xs:attribute name="critical" type="xs:boolean"/>
      <xs:attribute name="chargeCodeID" type="xs:integer"/>
      <xs:attribute name="subproject" type="xs:boolean"/>
      <xs:attribute name="subprojectID" type="xs:string"/>
      <xs:attribute name="subprojectTaskID" type="xs:string"/>
      <xs:attribute name="subprojectReadOnly" type="xs:boolean"/>
      <xs:attribute name="subprojectIPD" type="xs:boolean"/>
      <xs:attribute name="userText1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="topDownPercent">
        <xs:simpleType>
          <xs:restriction base="xs:float">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="chargeCodeExtID" type="xs:string"/>
      <xs:attribute name="openForTimeEntry" type="xs:boolean" default="true"/>
      <!--Added for whitney -->
      <xs:attribute name="evCalcMethod">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <!--not for inbound-->
      <!--not for inbound-->
      <!--not for inbound-->
      <!--not for inbound-->
      <!--not for inbound-->
      <!--not for inbound-->
      <!--not for inbound-->
      <!--not for inbound-->
      <!--not for inbound-->
      <!--not for inbound-->
      <!--not for inbound-->
      <!-- prExternalID -->
      <!-- prName -->
      <!-- prWBSSequence -->
      <!-- prWBSLevel -->
      <!-- prStart -->
      <!-- prBaseStart -->
      <!-- prFinish -->
      <!-- prBaseFinish -->
      <!-- prIsMilestone -->
      <!-- Not (prIsTask) -->
      <!-- prIsKey -->
      <!-- prCategory -->
      <!-- prStatus Not Started:0, Started:1, Completed:2 -->
      <!-- prPctComplete -->
      <!-- prModBy -->
      <!-- prModTime -->
      <!-- prPriority Value: 0(high) - 36(low) -->
      <!-- prEarlyStart -->
      <!-- prLateStart -->
      <!-- prEarlyFinish -->
      <!-- prLateFinish -->
      <!-- prDuration -->
      <!-- prBaseDuration -->
      <!-- prTotalFloat -->
      <!-- prIsUnplanned -->
      <!-- prShortName -->
      <!-- prGuideline -->
      <!-- prIsFixed -->
      <!-- prIsLocked -->
      <!-- prBaseIsFixed -->
      <!-- prBaseTime -->
      <!-- prIsCritical -->
      <!-- prWDM -->
      <!-- prChargeCodeID linked to PRChargeCode.prExternalID -->
      <!-- true if exists related record in PRSubproject.prTaskID -->
      <!-- SRM_PROJECTS.UNIQUE_NAME linked through PRSubproject.prRefProjectID -->
      <!-- PRTask.prExternalID linked through PRSubproject.prRefTaskID -->
      <!-- PRSubproject.prIsReadOnly -->
      <!-- PRSubproject.prIsIPD -->
    </xs:complexType>
    <!-- PRTask record -->
  </xs:element>
  <xs:element name="constraint">
    <xs:complexType>
      <xs:attribute name="date" type="projectDateTimeType"/>
      <xs:attribute name="delete" type="xs:boolean"/>
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="startNoEarlierThan"/>
            <xs:enumeration value="startNoLaterThan"/>
            <xs:enumeration value="mustStartOn"/>
            <xs:enumeration value="finishNoEarlierThan"/>
            <xs:enumeration value="finishNoLaterThan"/>
            <xs:enumeration value="mustFinishOn"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
    <!-- PRConstraint records -->
  </xs:element>
  <xs:element name="Assignments">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TaskLabor" minOccurs="0" maxOccurs="unbounded"/>
        <!-- all Labor resource assignments -->
        <!-- all non-labor resource assignments -->
        <!-- xs:element ref="TaskMaterial" minOccurs="0" maxOccurs="unbounded"/ -->
      </xs:sequence>
    </xs:complexType>
    <!-- PRAssignment records -->
  </xs:element>
  <xs:element name="TaskLabor">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Baselines" minOccurs="0"/>
        <xs:element name="Curve" type="CurveType" minOccurs="0"/>
        <xs:element name="EstCurve" type="CurveType" minOccurs="0"/>
        <xs:element name="ActCurve" type="CurveType" minOccurs="0"/>
        <xs:element name="ActCost"  type="CurveType" minOccurs="0"/>
        <xs:element ref="CustomInformation" minOccurs="0"/>
        <!-- Curve is synonymous with EstCurve;
             kept for backwards compatibility - stored in prExtension -->
      </xs:sequence>
      <xs:attribute name="resourceID" type="xs:string" use="required"/>
      <xs:attribute name="start" type="projectDateTimeType"/>
      <xs:attribute name="finish" type="projectDateTimeType"/>
      <xs:attribute name="delete" type="xs:boolean"/>
      <xs:attribute name="actualWork" type="xs:float"/>
      <xs:attribute name="baselineWork" type="xs:float"/>
      <xs:attribute name="remainingWork" type="xs:float"/>
      <xs:attribute name="actualThrough" type="projectDateTimeType"/>
      <xs:attribute name="estimateAfterDate" type="projectDateTimeType"/>
      <xs:attribute name="estimateAfterValue" type="xs:float"/>      
      <xs:attribute name="lastUpdatedBy" type="xs:string"/>
      <xs:attribute name="lastUpdatedDate" type="projectDateTimeType"/>
      <xs:attribute name="unplanned" type="xs:boolean"/>
      <xs:attribute name="teamId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="estPattern">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="basePattern">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="estMax">
        <xs:simpleType>
          <xs:restriction base="xs:float">
            <xs:minInclusive value="0"/>           
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="baseMax">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minExclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="pendEstSum" type="xs:float"/>
      <xs:attribute name="pendActSum" type="xs:float"/>
      <xs:attribute name="pendStart" type="projectDateTimeType"/>
      <xs:attribute name="pendFinish" type="projectDateTimeType"/>
      <xs:attribute name="status">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
        <!--not for inbound-->
      </xs:attribute>
      <xs:attribute name="unpostedActuals" type="xs:float"/>
      <xs:attribute name="roleID" type="xs:string"/>
      <!--not for inbound-->
      <!--not for inbound-->
      <!--not for inbound-->
      <!--not for inbound-->
      <!--not for inbound-->
      <!--not for inbound-->
      <!--not for inbound-->
      <!-- SRM_RESOURCES.UNIQUE_NAME for this PRAssignement.prResourceID -->
      <!-- prStart (possibly start date of EAC curve) -->
      <!-- prFinish (possibly finish date of EAC curve) -->
      <!-- prActSum (in hours) -->
      <!-- prBaseSum (in hours) -->
      <!-- prEstSum (in hours) -->
      <!-- prActThru -->
      <!-- prModBy -->
      <!-- prModTime -->
      <!-- prIsUnplanned -->
      <!-- prEstPattern   Uniform:0, Fixed:1, Contour:2, Front:3, Back:4 -->
      <!-- prBasePattern   Uniform:0, Fixed:1, Contour:2, Front:3, Back:4 -->
      <!-- prEstMax -->
      <!-- xs:attribute name="estMax" type="xs:float" -->
      <!-- prBaseMax -->
      <!-- xs:attribute name="baseMax" type="xs:float" -->
      <!-- prPendEstSum (in hours) -->
      <!-- prPendActSum (in hours) -->
      <!-- prPendStart -->
      <!-- prPendFinish -->
      <!-- prStatus Not Started:0, Started:1, Completed:2 -->
      <!-- unpostedActuals (sum of all unposted, nonadjustment actuals against assignment) -->
    </xs:complexType>
    <!-- PRAssignment records for labor resources -->
  </xs:element>
  <xs:complexType name="CurveType">
    <xs:sequence>
      <xs:element ref="Segment" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Segment">
    <xs:complexType>
      <xs:attribute name="start" type="projectDateTimeType" use="required"/>
      <xs:attribute name="finish" type="projectDateTimeType" use="required"/>
      <xs:attribute name="sum" type="xs:float" use="required"/>
      <!-- start date of curve segment -->
      <!-- finish date of curve segment -->
      <!-- sum (in hours) of segment -->
    </xs:complexType>
  </xs:element>
  <xs:element name="Baselines">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Baseline" type="BaselineType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="BaselineType">
    <xs:sequence>
      <xs:element name="BaselineDetails" type="BaselineDetailType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="revisionID" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="10"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="delete" type="xs:boolean"/>
  </xs:complexType>
  <xs:complexType name="InvestmentBaselineType">
    <xs:complexContent>
      <xs:extension base="BaselineType">
        <xs:attribute name="currentRevision" type="xs:boolean" use="required"/>
        <xs:attribute name="name" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="description">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BaselineDetailType">
    <xs:annotation>
      <xs:documentation>
        The attributes do not necessarily reflect the content of the curves; Task and Project
        start/finish/duration are independent of the curve.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UsageCurve" type="BaselineCurveType" minOccurs="0"/>
      <xs:element name="CostCurve" type="BaselineCurveType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="start" type="projectDateTimeType"/>
    <xs:attribute name="finish" type="projectDateTimeType"/>
    <xs:attribute name="usageSum" type="xs:float"/>
    <xs:attribute name="costSum" type="xs:float"/>
    <xs:attribute name="duration" type="xs:float"/>
  </xs:complexType>
  <xs:complexType name="BaselineCurveType">
    <xs:sequence>
      <xs:element ref="Segment" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExpressionText">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="RuleType">
    <xs:sequence>
      <xs:element name="expression" type="ExpressionText"/>
      <xs:element name="condition" type="ExpressionText" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="isDefault" type="xs:boolean" use="required"/>
    <xs:attribute name="delete" type="xs:boolean"/>
  </xs:complexType>
  <xs:element name="estimateRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rule" type="RuleType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SkillAssocsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
          The skill Association section.  List of skill Associations.

          isComplete - If the flag is true, then if there is any associations missing they are deleted.
                      Otherwise, we only insert and/or update
          complete - This flag has been introduced to remove the inconsistency in naming the complete flag across all files.
                     Eventually this flag will replace the usage of completed/isComplete flags that are currently being used for the deletion purpose.

      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SkillAssoc" type="SkillAssocType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="isComplete" type="xs:boolean" default="false"/>
    <xs:attribute name="complete" type="xs:boolean" default="false"/>
  </xs:complexType>
  <xs:complexType name="SkillAssocType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      The skills that the Resources associated with.

      skillCode - The code of the skill
      interestLevel - the resource's interest level in this skill
      proficiencyLevel - the resource's proficiency level in this skill
      weight - used, when searching, to produce a weighted average
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="skillCode" type="xs:string" use="required"/>
    <xs:attribute name="interestLevel" type="xs:string"/>
    <xs:attribute name="proficiencyLevel" type="xs:string"/>
    <xs:attribute name="weight" type="xs:integer" />
  </xs:complexType>
</xs:schema>
