resources/xsd/tloik/harja-tloik.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.1.11.3570 (http://www.liquid-technologies.com)-->
<xs:schema xmlns="http://www.liikennevirasto.fi/xsd/harja" targetNamespace="http://www.liikennevirasto.fi/xsd/harja" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ilmoitus">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="viestiId" type="uuid" minOccurs="1" maxOccurs="1"/>
                <xs:element name="ilmoitusId" type="xs:int" minOccurs="1" maxOccurs="1"/>
                <xs:element name="versionumero" type="xs:int" minOccurs="1" maxOccurs="1"/>
                <xs:element name="ilmoitustyyppi" type="ilmoitustyyppi" minOccurs="1" maxOccurs="1"/>
                <xs:element name="ilmoitettu" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
                <xs:element name="urakkatyyppi" type="urakkatyyppi" minOccurs="1" maxOccurs="1"/>
                <xs:element name="otsikko" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="64"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="paikanKuvaus" type="xs:string" minOccurs="0"/>
                <xs:element name="lisatieto" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="2000"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="yhteydenottopyynto" type="xs:boolean" minOccurs="0"/>
                <xs:element name="sijainti" type="sijainti" minOccurs="1" maxOccurs="1"/>
                <xs:element name="ilmoittaja" type="ilmoittaja" minOccurs="0"/>
                <xs:element name="lahettaja" type="henkilo" minOccurs="0"/>
                <xs:element name="seliteet" type="selitteet" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="tietyoilmoitus">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="viestiId" type="uuid" minOccurs="1" maxOccurs="1"/>
                <xs:element name="tietyoilmoitusId" type="xs:int" minOccurs="1" maxOccurs="1"/>
                <xs:element name="ilmoitettu" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
                <xs:element name="ilmoittaja" type="henkilo" minOccurs="0"/>
                <xs:element name="urakka" type="urakka" minOccurs="1" maxOccurs="1"/>
                <xs:element name="urakoitsija" type="organisaatio" minOccurs="0"/>
                <xs:element name="urakoitsijan-yhteyshenkilo" type="henkilo" minOccurs="0"/>
                <xs:element name="tilaaja" type="organisaatio" minOccurs="0"/>
                <xs:element name="tilaajan-yhteyshenkilo" type="henkilo" minOccurs="0"/>
                <xs:element name="luvanDiaarinumero" type="xs:integer" minOccurs="1"/>
                <xs:element name="toimenpide" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="uusi"/>
                            <xs:enumeration value="muokkaus"/>
                            <xs:enumeration value="lopetus"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="sijainti" type="tietyonSijainti" minOccurs="0"/>
                <xs:element name="ajankohta" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="alku" type="xs:dateTime" minOccurs="1"/>
                            <xs:element name="loppu" type="xs:dateTime" minOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="tyovaiheet">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="tyovaihe" minOccurs="1" maxOccurs="unbounded" nillable="true">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="alku" type="xs:dateTime" minOccurs="1"/>
                                        <xs:element name="loppu" type="xs:dateTime" minOccurs="1"/>
                                        <xs:element name="sijainti" type="tietyonSijainti" minOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="tyyppi" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="tyotyypit">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tyotyyppi" type="tietyoilmoitustyotyyppi" minOccurs="1" maxOccurs="unbounded" nillable="true"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="tyypinKuvaus" type="xs:string" minOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="tyoajat" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="tyoaika" minOccurs="1" maxOccurs="unbounded" nillable="true">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="alku" type="xs:time" minOccurs="1"/>
                                        <xs:element name="loppu" type="xs:time" minOccurs="1"/>
                                        <xs:element name="paivat" type="viikonpaivat" minOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="vaikutukset" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="arvioituViivastys">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:integer" name="normaaliLiikenteessa"/>
                                        <xs:element type="xs:integer" name="ruuhka-aikana"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="kaistajarjestelyt">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:boolean" name="yksiAjokaistaSuljettu"/>
                                        <xs:element type="xs:boolean" name="yksiAjoratasuljettu"/>
                                        <xs:element type="xs:string" name="muu"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:integer" name="nopeusrajoitus"/>
                            <xs:element type="xs:integer" name="nopeusrajoituksenPituus"/>
                            <xs:element name="kulkurajoitukset">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:integer" name="ajoneuvonMaxKorkeus"/>
                                        <xs:element type="xs:integer" name="ajoneuvonMaxLeveys"/>
                                        <xs:element type="xs:integer" name="ajoneuvonMaxPituus"/>
                                        <xs:element type="xs:integer" name="ajoneuvonMaxPaino"/>
                                        <xs:element type="xs:boolean" name="kuumenninKaytossa"/>
                                        <xs:element type="xs:boolean" name="tyokoneitaLiikenteenSeassa"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="tienPintaTyomaalla">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:boolean" name="paallystetty"/>
                                        <xs:element type="xs:boolean" name="jyrsitty"/>
                                        <xs:element type="xs:boolean" name="murske"/>
                                        <xs:element type="xs:integer" name="murskeenPituus"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="kiertotie">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:integer" name="pituus"/>
                                        <xs:element type="xs:boolean" name="loivatMutkat"/>
                                        <xs:element type="xs:boolean" name="jyrkatMutkat"/>
                                        <xs:element type="xs:boolean" name="paallystetty"/>
                                        <xs:element type="xs:boolean" name="murske"/>
                                        <xs:element type="xs:integer" name="kantavuusrajoitus"/>
                                        <xs:element type="xs:integer" name="painorajoitus"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="pysaytykset">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:boolean" name="liikennevalot"/>
                                        <xs:element type="xs:boolean" name="liikenteenohjaaja"/>
                                        <xs:element name="aikataulu">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:dateTime" name="alkaen"/>
                                                    <xs:element type="xs:dateTime" name="paattyen"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="lisatietoja"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="harja-kuittaus">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="aika" type="xs:dateTime" minOccurs="1"/>
                <xs:element name="kuittaustyyppi" type="kuittaustyyppi" minOccurs="1"/>
                <xs:element name="viestiId" type="uuid" minOccurs="1"/>
                <xs:element name="virhe" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="255"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="valitystiedot" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ilmoitusId" type="xs:int" minOccurs="0"/>
                            <xs:element name="urakka" type="urakka" minOccurs="0"/>
                            <xs:element name="urakoitsija" type="organisaatio" minOccurs="0"/>
                            <xs:element name="paivystajat" type="paivystajat" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="tloik-kuittaus">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="aika" type="xs:dateTime" minOccurs="1"/>
                <xs:element name="kuittaustyyppi" type="kuittaustyyppi" minOccurs="1"/>
                <xs:element name="viestiId" type="uuid" minOccurs="1"/>
                <xs:element name="virhe" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="toimenpide">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="viestiId" type="uuid" minOccurs="1"/>
                <xs:element name="ilmoitusId" type="xs:int" minOccurs="1"/>
                <xs:element name="tyyppi" type="toimenpidetyyppi" minOccurs="1"/>
                <xs:element name="aika" type="xs:dateTime" minOccurs="1"/>
                <xs:element name="vapaateksti" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="1024"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="kasittelija" type="kasittelija" minOccurs="0"/>
                <xs:element name="ilmoittaja" type="kasittelija" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ilmoittaja">
        <xs:complexContent>
            <xs:extension base="henkilo">
                <xs:sequence>
                    <xs:element name="tyyppi" type="ilmoittajatyyppi" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="henkilo">
        <xs:sequence>
            <xs:element name="etunimi" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="32"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sukunimi" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="32"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="matkapuhelin" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="32"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="tyopuhelin" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="32"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sahkoposti" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="64"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="selitteet">
        <xs:sequence>
            <xs:element name="selite" type="selite" minOccurs="1" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="sijainti">
        <xs:sequence>
            <xs:element name="tienumero" type="xs:integer" minOccurs="0"/>
            <xs:element name="x" type="xs:decimal" minOccurs="1"/>
            <xs:element name="y" type="xs:decimal" minOccurs="1"/>
            <xs:element name="tieosa" type="xs:integer" minOccurs="0"/>
            <xs:element name="etaisyys" type="xs:integer" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ilmoittajatyyppi">
        <xs:restriction base="xs:string">
            <xs:enumeration value="viranomainen"/>
            <xs:enumeration value="muu"/>
            <xs:enumeration value="asukas"/>
            <xs:enumeration value="tienkayttaja"/>
            <xs:enumeration value="urakoitsija"/>
            <xs:enumeration value="vägtrafikant"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ilmoitustyyppi">
        <xs:restriction base="xs:string">
            <xs:enumeration value="kysely"/>
            <xs:enumeration value="tiedoitus"/>
            <xs:enumeration value="toimenpidepyynto"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="selite">
        <xs:restriction base="xs:string">
            <xs:enumeration value="tyomaajarjestelyihinLiittyvaIlmoitus"/>
            <xs:enumeration value="kuoppiaTiessa"/>
            <xs:enumeration value="kelikysely"/>
            <xs:enumeration value="soratienKuntoHuono"/>
            <xs:enumeration value="saveaTiella"/>
            <xs:enumeration value="liikennettaVaarantavaEsteTiella"/>
            <xs:enumeration value="irtokiviaTiella"/>
            <xs:enumeration value="kevyenLiikenteenVaylaanLiittyvaIlmoitus"/>
            <xs:enumeration value="raivausJaKorjaustoita"/>
            <xs:enumeration value="auraustarve"/>
            <xs:enumeration value="yliauraus"/>
            <xs:enumeration value="kaivonKansiRikki"/>
            <xs:enumeration value="kevyenLiikenteenVaylatOvatLiukkaita"/>
            <xs:enumeration value="routaheitto"/>
            <xs:enumeration value="avattavatPuomit"/>
            <xs:enumeration value="tievalaistusVioittunutOnnettomuudessa"/>
            <xs:enumeration value="muuKyselyTaiNeuvonta"/>
            <xs:enumeration value="soratienTasaustarve"/>
            <xs:enumeration value="tieTaiTienReunaOnPainunut"/>
            <xs:enumeration value="siltaanLiittyvaIlmoitus"/>
            <xs:enumeration value="polynsidontatarve"/>
            <xs:enumeration value="liikennevalotEivatToimi"/>
            <xs:enumeration value="kunnossapitoJaHoitotyo"/>
            <xs:enumeration value="vettaTiella"/>
            <xs:enumeration value="aurausvallitNakemaesteena"/>
            <xs:enumeration value="ennakoivaVaroitus"/>
            <xs:enumeration value="levahdysalueeseenLiittyvaIlmoitus"/>
            <xs:enumeration value="sohjonPoisto"/>
            <xs:enumeration value="liikennekeskusKuitannutLoppuneeksi"/>
            <xs:enumeration value="muuToimenpidetarve"/>
            <xs:enumeration value="hiekoitustarve"/>
            <xs:enumeration value="tietOvatJaatymassa"/>
            <xs:enumeration value="jaatavaaSadetta"/>
            <xs:enumeration value="tienvarsilaitteisiinLiittyvaIlmoitus"/>
            <xs:enumeration value="oljyaTiella"/>
            <xs:enumeration value="sahkojohtoOnPudonnutTielle"/>
            <xs:enumeration value="tieOnSortunut"/>
            <xs:enumeration value="tievalaistusVioittunut"/>
            <xs:enumeration value="testilahetys"/>
            <xs:enumeration value="tievalaistuksenLamppujaPimeana"/>
            <xs:enumeration value="virkaApupyynto"/>
            <xs:enumeration value="tiemerkintoihinLiittyvaIlmoitus"/>
            <xs:enumeration value="tulvavesiOnNoussutTielle"/>
            <xs:enumeration value="niittotarve"/>
            <xs:enumeration value="kuormaOnLevinnytTielle"/>
            <xs:enumeration value="tieOnLiukas"/>
            <xs:enumeration value="tiellaOnEste"/>
            <xs:enumeration value="harjaustarve"/>
            <xs:enumeration value="hoylaystarve"/>
            <xs:enumeration value="tietyokysely"/>
            <xs:enumeration value="paallystevaurio"/>
            <xs:enumeration value="rikkoutunutAjoneuvoTiella"/>
            <xs:enumeration value="mustaaJaataTiella"/>
            <xs:enumeration value="kevyenLiikenteenVaylillaOnLunta"/>
            <xs:enumeration value="hirviaitaVaurioitunut"/>
            <xs:enumeration value="korvauskysely"/>
            <xs:enumeration value="puitaOnKaatunutTielle"/>
            <xs:enumeration value="rumpuunLiittyvaIlmoitus"/>
            <xs:enumeration value="lasiaTiella"/>
            <xs:enumeration value="liukkaudentorjuntatarve"/>
            <xs:enumeration value="alikulkukaytavassaVetta"/>
            <xs:enumeration value="kevyenliikenteenAlikulkukaytavassaVetta"/>
            <xs:enumeration value="tievalaistuksenLamppuPimeana"/>
            <xs:enumeration value="kevyenLiikenteenVaylatOvatJaisiaJaLiukkaita"/>
            <xs:enumeration value="kuoppa"/>
            <xs:enumeration value="toimenpidekysely"/>
            <xs:enumeration value="pysakkiinLiittyvaIlmoitus"/>
            <xs:enumeration value="nakemaalueenRaivaustarve"/>
            <xs:enumeration value="vesakonraivaustarve"/>
            <xs:enumeration value="muuttuvatOpasteetEivatToimi"/>
            <xs:enumeration value="tievalaistus"/>
            <xs:enumeration value="vesiSyovyttanytTienReunaa"/>
            <xs:enumeration value="raskasAjoneuvoJumissa"/>
            <xs:enumeration value="myrskyvaurioita"/>
            <xs:enumeration value="kaidevaurio"/>
            <xs:enumeration value="liikennemerkkeihinLiittyvaIlmoitus"/>
            <xs:enumeration value="siirrettavaAjoneuvo"/>
            <xs:enumeration value="tielleOnVuotanutNestettaLiikkuvastaAjoneuvosta"/>
            <xs:enumeration value="tapahtumaOhi"/>
            <xs:enumeration value="kevyenLiikenteenVaylatOvatjaatymassa"/>
            <xs:enumeration value="tietOvatjaisiaJamarkia"/>
            <xs:enumeration value="kiertotienKunnossapito"/>
            <xs:enumeration value="jarjestelmanTilanTarkistus"/>
            <xs:enumeration value="jarjestelmanVikaTila"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="urakkatyyppi">
        <xs:restriction base="xs:string">
            <xs:enumeration value="tiemerkinta"/>
            <xs:enumeration value="valaistus"/>
            <xs:enumeration value="paallystys"/>
            <xs:enumeration value="hoito"/>
            <xs:enumeration value="paikkaus"/>
            <xs:enumeration value="silta"/>
            <xs:enumeration value="tekniset laitteet"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="organisaatio">
        <xs:sequence>
            <xs:element name="nimi" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="128"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ytunnus" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="9"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="kuittaustyyppi">
        <xs:restriction base="xs:string">
            <xs:enumeration value="virhe"/>
            <xs:enumeration value="valitetty"/>
            <xs:enumeration value="vastaanotettu"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="valitystiedot">
        <xs:sequence>
            <xs:element name="ilmoitusId" type="xs:int" minOccurs="0"/>
            <xs:element name="urakka" type="urakka" minOccurs="0"/>
            <xs:element name="urakoitsija" type="organisaatio" minOccurs="0"/>
            <xs:element name="paivystajat" type="paivystajat" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="urakka">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="0"/>
            <xs:element name="nimi" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="tyyppi" type="urakkatyyppi" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="toimenpidetyyppi">
        <xs:restriction base="xs:string">
            <xs:enumeration value="vastaanotto"/>
            <xs:enumeration value="aloitus"/>
            <xs:enumeration value="lopetus"/>
            <xs:enumeration value="vastaus"/>
            <xs:enumeration value="muutos"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="kasittelija">
        <xs:sequence>
            <xs:element name="henkilo" type="henkilo" minOccurs="0"/>
            <xs:element name="organisaatio" type="organisaatio" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="paivystajat">
        <xs:sequence>
            <xs:element name="paivystaja" type="henkilo" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="uuid">
        <xs:restriction base="xs:string">
            <xs:minLength value="32"/>
            <xs:maxLength value="36"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="tierekisteriosoitevali">
        <xs:sequence>
            <xs:element type="xs:integer" name="tienumero"/>
            <xs:element type="xs:integer" name="alkuosa"/>
            <xs:element type="xs:integer" name="alkuetaisyys"/>
            <xs:element type="xs:integer" name="loppuosa"/>
            <xs:element type="xs:integer" name="loppuetaisyys"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="koordinaattit">
        <xs:sequence>
            <xs:element name="x" type="xs:decimal" minOccurs="1"/>
            <xs:element name="y" type="xs:decimal" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="tietyoilmoitustyotyyppi">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Tienrakennus"/>
            <xs:enumeration value="Päällystystyö"/>
            <xs:enumeration value="Viimeistely"/>
            <xs:enumeration value="Rakenteen parannus"/>
            <xs:enumeration value="Jyrsintä-/stabilointityö"/>
            <xs:enumeration value="Tutkimus/mittaus"/>
            <xs:enumeration value="Alikulkukäytävän rak."/>
            <xs:enumeration value="Kaidetyö"/>
            <xs:enumeration value="Tienvarsilaitteiden huolto"/>
            <xs:enumeration value="Kevyenliik. väylän rak."/>
            <xs:enumeration value="Kaapelityö"/>
            <xs:enumeration value="Silmukka-anturin asent."/>
            <xs:enumeration value="Siltatyö"/>
            <xs:enumeration value="Valaistustyö"/>
            <xs:enumeration value="Tasoristeystyö"/>
            <xs:enumeration value="Liittymä- ja kaistajärj."/>
            <xs:enumeration value="Tiemerkintätyö"/>
            <xs:enumeration value="Vesakonraivaus/niittotyö"/>
            <xs:enumeration value="Räjäytystyö"/>
            <xs:enumeration value="Muu, mikä?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="viikonpaivat">
        <xs:sequence>
            <xs:element name="paiva" minOccurs="1" maxOccurs="unbounded" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="maanantai"/>
                        <xs:enumeration value="tiistai"/>
                        <xs:enumeration value="keskiviikko"/>
                        <xs:enumeration value="torstai"/>
                        <xs:enumeration value="perjantai"/>
                        <xs:enumeration value="lauantai"/>
                        <xs:enumeration value="sunnuntai"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tietyonSijainti">
        <xs:sequence>
            <xs:element name="tierekisteriosoitevali" type="tierekisteriosoitevali"/>
            <xs:element name="alkukoordinaatit" type="koordinaattit"/>
            <xs:element name="loppukoordinaatit" type="koordinaattit"/>
            <xs:element type="xs:decimal" name="pituus"/>
            <xs:element type="xs:string" name="tienNimi"/>
            <xs:element type="xs:string" name="kunnat"/>
            <xs:element type="xs:string" name="alkusijainninKuvaus"/>
            <xs:element type="xs:string" name="loppusijainninKuvaus"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
