resources/xsd/turi/turvallisuuspoikkeama.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.liikennevirasto.fi/xsd/turi"
           version="1.0"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns="http://www.liikennevirasto.fi/xsd/turi"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="turvallisuuspoikkeama">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="vaylamuoto" name="vaylamuoto" nillable="false" minOccurs="1" maxOccurs="1"/>
                <xs:element type="xs:dateTime" name="tapahtunut" nillable="false" minOccurs="1" maxOccurs="1"/>
                <xs:element type="xs:dateTime" name="paattynyt" nillable="false" minOccurs="1" maxOccurs="1"/>
                <xs:element type="xs:dateTime" name="kasitelty" minOccurs="0" maxOccurs="1"/>
                <xs:element type="xs:string" name="toteuttaja" minOccurs="0" maxOccurs="1"/>
                <xs:element type="xs:string" name="tilaaja" minOccurs="0" maxOccurs="1"/>
                <xs:element type="henkilo" name="turvallisuuskoordinaattori" minOccurs="0" maxOccurs="1"/>
                <xs:element type="henkilo" name="laatija" minOccurs="0" maxOccurs="1"/>
                <xs:element type="henkilo" name="ilmoittaja" minOccurs="0" maxOccurs="1"/>
                <xs:element type="xs:string" name="kuvaus" nillable="false" minOccurs="1" maxOccurs="1"/>
                <xs:element type="xs:string" name="tyotehtava" minOccurs="0" maxOccurs="1"/>
                <xs:element type="luokittelut" name="luokittelut" minOccurs="0" maxOccurs="1"/>
                <xs:element type="vahinkoluokittelut" name="vahinkoluokittelut" nillable="false" minOccurs="1" maxOccurs="1"/>
                <xs:element type="vakavuusaste" name="vakavuusaste" nillable="false" minOccurs="1" maxOccurs="1"/>
                <xs:element type="xs:string" name="aiheutuneet-seuraukset" minOccurs="0" maxOccurs="1"/>
                <xs:element type="korjaavat-toimenpiteet" name="korjaavat-toimenpiteet" minOccurs="0" maxOccurs="1"/>
                <xs:element type="kommentit" name="kommentit" minOccurs="0" maxOccurs="1"/>
                <xs:element type="liitteet" name="liitteet" minOccurs="0" maxOccurs="1"/>
                <xs:element type="sijainti" name="sijainti" nillable="false" minOccurs="1" maxOccurs="1"/>
                <xs:element type="henkilovahinko" name="henkilovahinko" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="vaylamuoto">
        <xs:restriction base="xs:string">
            <xs:enumeration value="tie"/>
            <xs:enumeration value="rata"/>
            <xs:enumeration value="vesi"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="henkilo">
        <xs:sequence>
            <xs:element type="xs:string" name="etunimi" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element type="xs:string" name="sukunimi" nillable="false" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="luokittelut">
        <xs:sequence>
            <xs:element name="luokittelu" maxOccurs="unbounded" minOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="tyotapaturma"/>
                        <xs:enumeration value="vaaratilanne"/>
                        <xs:enumeration value="turvallisuushavainto"/>
                        <xs:enumeration value="muu"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="vahinkoluokittelut">
        <xs:sequence>
            <xs:element name="luokittelu" maxOccurs="unbounded" minOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="henkilovahinko"/>
                        <xs:enumeration value="omaisuusvahinko"/>
                        <xs:enumeration value="ymparistovahinko"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="vakavuusaste">
        <xs:restriction base="xs:string">
            <xs:enumeration value="vakava"/>
            <xs:enumeration value="lieva"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="korjaavat-toimenpiteet">
        <xs:sequence>
            <xs:element type="korjaava-toimenpide" name="korjaava-toimenpide"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="korjaava-toimenpide">
        <xs:sequence>
            <xs:element type="xs:string" name="kuvaus" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element type="xs:string" name="suoritettu" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element type="henkilo" name="vastaavahenkilo" nillable="false" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="kommentit">
        <xs:sequence>
            <xs:element name="kommentti" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="liitteet">
        <xs:sequence>
            <xs:element type="liite" name="liite" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="liite">
        <xs:sequence>
            <xs:element name="tiedostonimi" nillable="false" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="tilanne.png"/>
                        <xs:enumeration value="auto.png"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:string" name="tyyppi" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element type="xs:string" name="kuvaus" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="sisalto" nillable="false" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="sijainti">
        <xs:choice>
            <xs:element type="koordinaatit" name="koordinaatit"/>
            <xs:element type="tierekisteriosoite" name="tierekisteriosoite"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="koordinaatit">
        <xs:sequence>
            <xs:element type="xs:integer" name="tienumero" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element type="xs:integer" name="x" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element type="xs:integer" name="y" nillable="false" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tierekisteriosoite">
        <xs:sequence>
            <xs:element type="xs:integer" name="tienumero" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element type="xs:integer" name="aosa" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element type="xs:integer" name="aet" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element type="xs:integer" name="losa" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element type="xs:integer" name="let" nillable="false" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="henkilovahinko">
        <xs:sequence>
            <xs:element type="tyontekijan-ammatti" name="tyontekijan-ammatti" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="aiheutuneet-vammat" minOccurs="0" maxOccurs="1"/>
            <xs:element type="vamman-laatu" name="vamman-laatu" minOccurs="0" maxOccurs="1"/>
            <xs:element type="vahingoittuneet-ruumiinosat" name="vahingoittuneet-ruumiinosat" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:integer" name="sairauspoissaolopaivat" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:integer" name="sairaalahoitovuorokaudet" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:boolean" name="jatkuuko-sairaspoissaolo" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tyontekijan-ammatti">
        <xs:sequence>
            <xs:element name="koodi" nillable="false" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Aluksen päällikkö"/>
                        <xs:enumeration value="Asentaja"/>
                        <xs:enumeration value="Asfalttityöntekijä"/>
                        <xs:enumeration value="Harjoittelija"/>
                        <xs:enumeration value="Hitsaaja"/>
                        <xs:enumeration value="Kunnossapitotyöntekijä"/>
                        <xs:enumeration value="Kansimies"/>
                        <xs:enumeration value="Kiskoilla liikkuvan työkoneen kuljettaja"/>
                        <xs:enumeration value="Konemies"/>
                        <xs:enumeration value="Kuorma-auton kuljettaja"/>
                        <xs:enumeration value="Liikenteenohjaaja"/>
                        <xs:enumeration value="Mittamies"/>
                        <xs:enumeration value="Panostaja"/>
                        <xs:enumeration value="Perämies"/>
                        <xs:enumeration value="Porari"/>
                        <xs:enumeration value="Rakennustyöntekijä (rakennusmies, purku-, muotti-, raudoitus-, betoni-)"/>
                        <xs:enumeration value="Ratatyöntekijä"/>
                        <xs:enumeration value="Ratatyöstä vastaava"/>
                        <xs:enumeration value="Sukeltaja"/>
                        <xs:enumeration value="Sähkötöiden ammattihenkilö"/>
                        <xs:enumeration value="Tilaajan edustaja"/>
                        <xs:enumeration value="Turvalaiteasentaja"/>
                        <xs:enumeration value="Turvamies"/>
                        <xs:enumeration value="Työkoneen kuljettaja"/>
                        <xs:enumeration value="Työnjohtaja"/>
                        <xs:enumeration value="Valvoja"/>
                        <xs:enumeration value="Veneenkuljettaja"/>
                        <xs:enumeration value="Väylänhoitaja"/>
                        <xs:enumeration value="Muu työntekijä"/>
                        <xs:enumeration value="Työmaan ulkopuolinen"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:string" name="selite" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="vamman-laatu">
        <xs:sequence>
            <xs:element name="vamma" maxOccurs="unbounded" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Haavat ja pinnalliset vammat"/>
                        <xs:enumeration value="Luunmurtumat"/>
                        <xs:enumeration value="Sijoiltaan menot nyrjähdykset ja venähdykset"/>
                        <xs:enumeration value="Amputoitumiset ja irti repeämiset (ruumiinosan menetys)"/>
                        <xs:enumeration value="Tärähdykset ja sisäiset vammat ruhjevammat"/>
                        <xs:enumeration value="Palovammat syöpymät ja paleltumat"/>
                        <xs:enumeration value="Myrkytykset ja tulehdukset"/>
                        <xs:enumeration value="Hukkuminen ja tukehtuminen"/>
                        <xs:enumeration value="Äänen ja värähtelyn vaikutukset"/>
                        <xs:enumeration value="Äärilämpötilojen valon ja säteilyn vaikutukset"/>
                        <xs:enumeration value="Sokki"/>
                        <xs:enumeration value="Useita samantasoisia vammoja"/>
                        <xs:enumeration value="Muut"/>
                        <xs:enumeration value="Ei tietoa"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="vahingoittuneet-ruumiinosat">
        <xs:sequence>
            <xs:element name="ruumiinosa" maxOccurs="unbounded" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Pään alue (pl. silmät)"/>
                        <xs:enumeration value="Silmä(t)"/>
                        <xs:enumeration value="Niska ja kaula"/>
                        <xs:enumeration value="Selkä"/>
                        <xs:enumeration value="Vartalo, mukaan lukien sisäelimet"/>
                        <xs:enumeration value="Sormi (sormet), kämmen"/>
                        <xs:enumeration value="Ranne"/>
                        <xs:enumeration value="Muu käsi, mukaan lukien olkapää"/>
                        <xs:enumeration value="Nilkka"/>
                        <xs:enumeration value="Jalkaterä ja varvas (varpaat)"/>
                        <xs:enumeration value="Muu jalka, mukaan lukien lonkka ja nivuset"/>
                        <xs:enumeration value="Koko keho (useat kehon alueet)"/>
                        <xs:enumeration value="Ei tietoa"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>