resources/xsd/turi/turvallisuuspoikkeama.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.liikennevirasto.fi/xsd/turi"
           version="1.0"
           xmlns="http://www.liikennevirasto.fi/xsd/turi"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="turvallisuuspoikkeama" type="turvallisuuspoikkeamaType"/>
    <xs:complexType name="vastaavahenkiloType">
        <xs:sequence>
            <xs:element type="xs:string" name="etunimi"/>
            <xs:element type="xs:string" name="sukunimi"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="sijaintiType">
        <xs:sequence>
            <xs:element type="koordinaatitType" name="koordinaatit"/>
            <xs:element type="tierekisteriosoiteType" name="tierekisteriosoite"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tyontekijan-ammattiType">
        <xs:sequence>
            <xs:element name="koodi">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Aluksen päällikkö"/>
                        <xs:enumeration value="Asentaja"/>
                        <xs:enumeration value="Asfalttityöntekijä"/>
                        <xs:enumeration value="Harjoittelija"/>
                        <xs:enumeration value="Hitsaaja"/>
                        <xs:enumeration value="Kunnossapitotyöntekijä"/>
                        <xs:enumeration value="Kansimies"/>
                        <xs:enumeration value="Kiskoilla liikkuvan työkoneen kuljettaja"/>
                        <xs:enumeration value="Konemies"/>
                        <xs:enumeration value="Kuorma-auton kuljettaja"/>
                        <xs:enumeration value="Liikenteenohjaaja"/>
                        <xs:enumeration value="Mittamies"/>
                        <xs:enumeration value="Panostaja"/>
                        <xs:enumeration value="Perämies"/>
                        <xs:enumeration value="Porari"/>
                        <xs:enumeration
                                value="Rakennustyöntekijä (rakennusmies, purku-, muotti-, raudoitus-, betoni-)"/>
                        <xs:enumeration value="Ratatyöntekijä"/>
                        <xs:enumeration value="Ratatyöstä vastaava"/>
                        <xs:enumeration value="Sukeltaja"/>
                        <xs:enumeration value="Sähkötöiden ammattihenkilö"/>
                        <xs:enumeration value="Tilaajan edustaja"/>
                        <xs:enumeration value="Turvalaiteasentaja"/>
                        <xs:enumeration value="Turvamies"/>
                        <xs:enumeration value="Työkoneen kuljettaja"/>
                        <xs:enumeration value="Työnjohtaja"/>
                        <xs:enumeration value="Valvoja"/>
                        <xs:enumeration value="Veneenkuljettaja"/>
                        <xs:enumeration value="Väylänhoitaja"/>
                        <xs:enumeration value="Muu työntekijä"/>
                        <xs:enumeration value="Työmaan ulkopuolinen"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:string" name="selite"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="luokittelutType">
        <xs:sequence>
            <xs:element name="luokittelu" maxOccurs="unbounded" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="tyotapaturma"/>
                        <xs:enumeration value="vaaratilanne"/>
                        <xs:enumeration value="turvallisuushavainto"/>
                        <xs:enumeration value="muu"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="vahinkoluokittelutType">
        <xs:sequence>
            <xs:element name="luokittelu" maxOccurs="unbounded" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="henkilostovahinko"/>
                        <xs:enumeration value="omaisuusvahinko"/>
                        <xs:enumeration value="ymparistovahinko"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="laatijaType">
        <xs:sequence>
            <xs:element type="xs:string" name="etunimi"/>
            <xs:element type="xs:string" name="sukunimi"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="turvallisuuskoordinaattoriType">
        <xs:sequence>
            <xs:element type="xs:string" name="etunimi"/>
            <xs:element type="xs:string" name="sukunimi"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tierekisteriosoiteType">
        <xs:sequence>
            <xs:element type="xs:integer" name="tienumero"/>
            <xs:element type="xs:integer" name="aosa"/>
            <xs:element type="xs:integer" name="aet"/>
            <xs:element type="xs:integer" name="losa"/>
            <xs:element type="xs:integer" name="let"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="henkilovahinkoType">
        <xs:sequence>
            <xs:element type="tyontekijan-ammattiType" name="tyontekijan-ammatti"/>
            <xs:element type="xs:string" name="aiheutuneet-vammat"/>
            <xs:element type="vamman-laatuType" name="vamman-laatu"/>
            <xs:element type="vahingoittuneet-ruumiinosatType" name="vahingoittuneet-ruumiinosat"/>
            <xs:element type="xs:integer" name="sairauspoissaolopaivat"/>
            <xs:element type="xs:integer" name="sairaalahoitovuorokaudet"/>
            <xs:element type="xs:boolean" name="jatkuuko-sairaspoissaolo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="koordinaatitType">
        <xs:sequence>
            <xs:element type="xs:integer" name="x"/>
            <xs:element type="xs:integer" name="y"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="korjaava-toimenpideType">
        <xs:sequence>
            <xs:element type="xs:string" name="kuvaus"/>
            <xs:element type="xs:string" name="suoritettu"/>
            <xs:element type="vastaavahenkiloType" name="vastaavahenkilo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="vahingoittuneet-ruumiinosatType">
        <xs:sequence>
            <xs:element name="ruumiinosa" maxOccurs="unbounded" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Pään alue (pl. silmät)"/>
                        <xs:enumeration value="Silmä(t)"/>
                        <xs:enumeration value="Niska ja kaula"/>
                        <xs:enumeration value="Selkä"/>
                        <xs:enumeration value="Vartalo, mukaan lukien sisäelimet"/>
                        <xs:enumeration value="Sormi (sormet), kämmen"/>
                        <xs:enumeration value="Ranne"/>
                        <xs:enumeration value="Muu käsi, mukaan lukien olkapää"/>
                        <xs:enumeration value="Nilkka"/>
                        <xs:enumeration value="Jalkaterä ja varvas (varpaat)"/>
                        <xs:enumeration value="Muu jalka, mukaan lukien lonkka ja nivuset"/>
                        <xs:enumeration value="Koko keho (useat kehon alueet)"/>
                        <xs:enumeration value="Ei tietoa"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="liitteetType">
        <xs:sequence>
            <xs:element type="liiteType" name="liite" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ilmoittajaType">
        <xs:sequence>
            <xs:element type="xs:string" name="etunimi"/>
            <xs:element type="xs:string" name="sukunimi"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="korjaavat-toimenpiteetType">
        <xs:sequence>
            <xs:element type="korjaava-toimenpideType" name="korjaava-toimenpide"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="kommentitType">
        <xs:sequence>
            <xs:element name="kommentti" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="liiteType">
        <xs:sequence>
            <xs:element name="tiedostonimi">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="tilanne.png"/>
                        <xs:enumeration value="auto.png"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:string" name="tyyppi"/>
            <xs:element type="xs:string" name="kuvaus"/>
            <xs:element type="xs:string" name="sisalto"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="vamman-laatuType">
        <xs:sequence>
            <xs:element name="vamma" maxOccurs="unbounded" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Haavat ja pinnalliset vammat"/>
                        <xs:enumeration value="Luunmurtumat"/>
                        <xs:enumeration value="Sijoiltaan menot nyrjähdykset ja venähdykset"/>
                        <xs:enumeration value="Amputoitumiset ja irti repeämiset (ruumiinosan menetys)"/>
                        <xs:enumeration value="Tärähdykset ja sisäiset vammat ruhjevammat"/>
                        <xs:enumeration value="Palovammat syöpymät ja paleltumat"/>
                        <xs:enumeration value="Myrkytykset ja tulehdukset"/>
                        <xs:enumeration value="Hukkuminen ja tukehtuminen"/>
                        <xs:enumeration value="Äänen ja värähtelyn vaikutukset"/>
                        <xs:enumeration value="Äärilämpötilojen valon ja säteilyn vaikutukset"/>
                        <xs:enumeration value="Sokki"/>
                        <xs:enumeration value="Useita samantasoisia vammoja"/>
                        <xs:enumeration value="Muut"/>
                        <xs:enumeration value="Ei tietoa"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="turvallisuuspoikkeamaType">
        <xs:sequence>
            <xs:element name="vaylamuoto">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="tie"/>
                        <xs:enumeration value="rata"/>
                        <xs:enumeration value="vesi"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:dateTime" name="tapahtunut"/>
            <xs:element type="xs:dateTime" name="paattynyt"/>
            <xs:element type="xs:dateTime" name="kasitelty"/>
            <xs:element type="xs:string" name="toteuttaja"/>
            <xs:element type="xs:string" name="tilaaja"/>
            <xs:element type="turvallisuuskoordinaattoriType" name="turvallisuuskoordinaattori"/>
            <xs:element type="laatijaType" name="laatija"/>
            <xs:element type="ilmoittajaType" name="ilmoittaja"/>
            <xs:element type="xs:string" name="kuvaus"/>
            <xs:element type="xs:string" name="tyotehtava"/>
            <xs:element type="luokittelutType" name="luokittelut"/>
            <xs:element type="vahinkoluokittelutType" name="vahinkoluokittelut"/>
            <xs:element name="vakavuusaste">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="vakava"/>
                        <xs:enumeration value="lieva"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:string" name="aiheutuneet-seuraukset"/>
            <xs:element type="korjaavat-toimenpiteetType" name="korjaavat-toimenpiteet"/>
            <xs:element type="kommentitType" name="kommentit"/>
            <xs:element type="liitteetType" name="liitteet"/>
            <xs:element type="sijaintiType" name="sijainti"/>
            <xs:element type="henkilovahinkoType" name="henkilovahinko"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>