resources/xsd/tierekisteri/schemas/entities/linkki.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.solita.fi/harja/tierekisteri/linkki"
           version="1.0">

    <xs:complexType name="linkki">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int"/>
            <xs:element minOccurs="0" name="marvo" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
