resources/xsd/tierekisteri/schemas/entities/suorittaja.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.solita.fi/harja/tierekisteri/suorittaja" version="1.0">

    <xs:complexType name="suorittaja">
        <xs:sequence>
            <xs:element minOccurs="0" name="henkilo" type="xs:string"/>
            <xs:element minOccurs="0" name="jarjestelma" type="xs:string"/>
            <xs:element minOccurs="0" name="organisaatio" type="xs:string"/>
            <xs:element minOccurs="0" name="yTunnus" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
