resources/xsd/yha/yha.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.liikennevirasto.fi/xsd/yha"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns="http://www.liikennevirasto.fi/xsd/yha"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!--Kutsujen ja vastausten sisällöt-->

    <xs:element name="urakoiden-hakuvastaus">
        <xs:annotation>
            <xs:documentation>
                Palauttaa parametreihin sopivien urakoiden otsikkotason tiedot YHA:sta. Urakan kohteet voidaan hakea myöhemmin käyttäen YHA:n urakka id:tä. Kutsun epäonnistuessa palautetaan virhe virhe-elementissä.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="urakat" nillable="false" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="urakka" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="yha-id" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="elyt">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ely" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="vuodet">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="vuosi" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="tunnus" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="nimi" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="virhe" minOccurs="0" maxOccurs="1" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="urakan-kohdehakuvastaus">
        <xs:annotation>
            <xs:documentation>
                Palauttaa urakan kohteet alikohteineen YHA:sta. Kohteille voidaan myöhemmin tätä kautta kirjata toteumatietoja. Kutsun epäonnistuessa palautetaan virhe virhe-elementissä.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kohteet" nillable="false" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="kohde" type="kohde" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="virhe" minOccurs="0" maxOccurs="1" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="urakan-kohteiden-toteumatietojen-kirjaus">
        <xs:annotation>
            <xs:documentation>
                Kirjaa urakan kohteet ja alikohteet toteumatietoineneen YHA:n.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="urakka" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="yha-id" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="harja-id" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="sampo-id" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="ely" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="vuosi" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="nimi" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="kohteet" nillable="false" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="kohde" type="toteumakohde" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="urakan-kohteiden-toteumatietojen-kirjausvastaus">
        <xs:annotation>
            <xs:documentation>
                Mikäli kutsu onnistuu palautetaan tyhjä dokumentti. Virhetilanteessa virhet ilmoitetaan virhe-elementissä.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="virhe" minOccurs="0" maxOccurs="1" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--Entiteetit-->

    <xs:complexType name="tierekisteriosoitevali">
        <xs:sequence>
            <xs:element name="tienumero" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ajorata" type="ajorata" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="kaista" type="kaista" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="aosa" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="aet" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="losa" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="let" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="kohde">
        <xs:sequence>
            <xs:element name="yha-id" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="kohdetyyppi" nillable="false" minOccurs="1" maxOccurs="1" type="kohdetyyppi"/>
            <xs:element name="nimi" nillable="false" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="yllapitoluokka" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="keskimaarainen-vuorokausiilikenne" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="nykyinen-paallyste" type="paallyste" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tierekisteriosoitevali" type="tierekisteriosoitevali" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="alikohteet" nillable="false" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="alikohde" type="alikohde" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="toteumakohde">
        <xs:sequence>
            <xs:element name="yha-id" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="harja-id" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="kohdetyyppi" nillable="false" minOccurs="1" maxOccurs="1" type="kohdetyyppi"/>
            <xs:element name="nimi" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="toiden-aloituspaivamaara" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="paallystyksen-valmistumispaivamaara" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="kohteen-valmistumispaivamaara" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="takuupaivamaara" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="toteutunuthinta" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tierekisteriosoitevali" type="tierekisteriosoitevali" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="alustalle-tehdyt-toimet" nillable="false" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="alustalle-tehty-toimenpide" type="alustalle-tehty-toimenpide" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="alikohteet" nillable="false" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="alikohde" type="toteuma-alikohde" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="alikohde">
        <xs:sequence>
            <xs:element name="yha-id" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="tierekisteriosoitevali" type="tierekisteriosoitevali" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="tunnus" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="paallystystoimenpide" type="paallystystoimenpide" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="toteuma-alikohde">

        <xs:sequence>
            <xs:element name="yha-id" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="harja-id" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="tierekisteriosoitevali" type="tierekisteriosoitevali" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="tunniste" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="paallystystoimenpide" type="toteumapaallystystoimenpide" minOccurs="0" maxOccurs="1"/>
            <xs:element name="materiaalit" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="materiaali" type="materiaali" minOccurs="0" maxOccurs="unbounded">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="paallystystoimenpide">
        <xs:sequence>
            <xs:element name="uusi-paallyste" type="paallyste" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="edellinen-paallyste" type="paallyste" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="raekoko" nillable="false" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="99"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="kokonaismassamaara" nillable="false" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>
                            Yksikkö: tonni
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="999"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="rc-prosentti" nillable="false" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="999"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="kuulamylly" type="kuulamylly" minOccurs="0" maxOccurs="1"/>
            <xs:element name="paallystetyomenetelma" type="paallystetyomenetelma" nillable="false" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="toteumapaallystystoimenpide">
        <xs:complexContent>
            <xs:extension base="paallystystoimenpide">
                <xs:sequence>
                    <xs:element name="leveys" type="xs:decimal" nillable="false" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                Yksikkö: metri
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="pinta-ala" type="xs:decimal" nillable="false" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                Yksikkö: neliömetri
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="materiaali">
        <xs:sequence>
            <xs:element name="kiviainesesiintyman-nimi" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="kiviaineksen-km-arvo" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="kiviaineksen-muotoarvo" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="sidainetyyppi" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="sideainepitoisuus" type="xs:decimal" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="lisa-aineet" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="alustalle-tehty-toimenpide">
        <xs:sequence>
            <xs:element name="tierekisteriosoitevali" type="tierekisteriosoitevali" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="kasittelymenetelma" type="alustamenetelma" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="kasittelypaksuus" type="xs:decimal" nillable="false" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Yksikkö: senttimetri
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="verkkotyyppi" type="alustan-verkkotyyppi" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="tekninen-toimenpide" type="alustan-tekninen-toimenpide" nillable="false" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <!--Tyypit-->

    <xs:simpleType name="kohdetyyppi">
        <xs:restriction base="xs:string">
            <xs:enumeration value="paallystys"/>
            <xs:enumeration value="paikkaus"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ajorata">
        <xs:restriction base="xs:int">
            <!--pääkaista-->
            <xs:enumeration value="0"/>
            <!--ohituskaista-->
            <xs:enumeration value="1"/>
            <!--kolmas kaista-->
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="kaista">
        <xs:restriction base="xs:int">
            <xs:enumeration value="11"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="13"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="17"/>
            <xs:enumeration value="18"/>
            <xs:enumeration value="19"/>
            <xs:enumeration value="21"/>
            <xs:enumeration value="22"/>
            <xs:enumeration value="23"/>
            <xs:enumeration value="24"/>
            <xs:enumeration value="25"/>
            <xs:enumeration value="26"/>
            <xs:enumeration value="27"/>
            <xs:enumeration value="28"/>
            <xs:enumeration value="29"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="paallyste">
        <xs:restriction base="xs:int">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>
                        betoni
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>
                        kivi
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="11">
                <xs:annotation>
                    <xs:documentation>
                        avoin asfaltti
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="12">
                <xs:annotation>
                    <xs:documentation>
                        asfalttibetoni
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="13">
                <xs:annotation>
                    <xs:documentation>
                        epäjatkuva asfaltti
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="14">
                <xs:annotation>
                    <xs:documentation>
                        kivimastiks
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="15">
                <xs:annotation>
                    <xs:documentation>
                        kantavan kerroksen ab
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="16">
                <xs:annotation>
                    <xs:documentation>
                        sidekerroksen ab
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="17">
                <xs:annotation>
                    <xs:documentation>
                        valuasfaltti
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="21">
                <xs:annotation>
                    <xs:documentation>
                        pehmeät ab / bitumi
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="22">
                <xs:annotation>
                    <xs:documentation>
                        pehmeär ab / pehmeä bitumi
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="23">
                <xs:annotation>
                    <xs:documentation>
                        pehmeät ab / bitumiöljy
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="24">
                <xs:annotation>
                    <xs:documentation>
                        sirotepintaus
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="31">
                <xs:annotation>
                    <xs:documentation>
                        soratien pintaus
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="41">
                <xs:annotation>
                    <xs:documentation>
                        sora
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="99">
                <xs:annotation>
                    <xs:documentation>
                        ei tietoa
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="kuulamylly">
        <xs:restriction base="xs:int">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>AN5</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>AN7</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>N10</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation>N14</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation>N19</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="6">
                <xs:annotation>
                    <xs:documentation>N30</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="7">
                <xs:annotation>
                    <xs:documentation>N22</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="paallystetyomenetelma">
        <xs:restriction base="xs:int">
            <xs:enumeration value="12">
                <xs:annotation>
                    <xs:documentation>paksuudeltaan vakio laatta</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="21">
                <xs:annotation>
                    <xs:documentation>massapintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="22">
                <xs:annotation>
                    <xs:documentation>kuumennuspintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="23">
                <xs:annotation>
                    <xs:documentation>MP kuumalle tasatulle alustalle</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="31">
                <xs:annotation>
                    <xs:documentation>remix-pintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="32">
                <xs:annotation>
                    <xs:documentation>2-kerroksinen remix-pintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="33">
                <xs:annotation>
                    <xs:documentation>PAB-O/V:n remix-pintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="34">
                <xs:annotation>
                    <xs:documentation>ART-pintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="35">
                <xs:annotation>
                    <xs:documentation>Novachip-massapintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="41">
                <xs:annotation>
                    <xs:documentation>karhinta</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="51">
                <xs:annotation>
                    <xs:documentation>hienojyrsintä</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="61">
                <xs:annotation>
                    <xs:documentation>sirotepintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="71">
                <xs:annotation>
                    <xs:documentation>urapaikkaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="72">
                <xs:annotation>
                    <xs:documentation>ura-remix</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="81">
                <xs:annotation>
                    <xs:documentation>vauriopaikkaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="99">
                <xs:annotation>
                    <xs:documentation>ei tietoa</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="alustamenetelma">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Massanvaihto"/>
            <xs:enumeration value="Bitumiemusiostabilointi"/>
            <xs:enumeration value="Vaahtobitumistabilointi"/>
            <xs:enumeration value="Remix-stabilointi"/>
            <xs:enumeration value="Sementtistabilointi"/>
            <xs:enumeration value="Masuunihiekkastabilointi"/>
            <xs:enumeration value="Komposiittistabilointi"/>
            <xs:enumeration value="Kantavan kerroksen AB"/>
            <xs:enumeration value="Sidekerroksen AB"/>
            <xs:enumeration value="Murske"/>
            <xs:enumeration value="Kuumennustasaus"/>
            <xs:enumeration value="Massatasaus"/>
            <xs:enumeration value="Tasausjyrsintä"/>
            <xs:enumeration value="Laatikkojyrsintä"/>
            <xs:enumeration value="Reunajyrsintä"/>
            <xs:enumeration value="Sekoitusjyrsintä"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="alustan-verkkotyyppi">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Terasverkko"/>
            <xs:enumeration value="Lasikuituverkko"/>
            <xs:enumeration value="Muu"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="alustan-tekninen-toimenpide">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Rakentaminen"/>
            <xs:enumeration value="Suuntauksen parantaminen"/>
            <xs:enumeration value="Raskas rakenteen parantaminen"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>