resources/xsd/yha/yha2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.vayla.fi/xsd/yha"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns="http://www.vayla.fi/xsd/yha"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!--Kutsujen ja vastausten sisällöt-->

    <xs:element name="urakoiden-hakuvastaus">
        <xs:annotation>
            <xs:documentation>
                Palauttaa parametreihin sopivien urakoiden otsikkotason tiedot YHA:sta. Urakan kohteet voidaan hakea myöhemmin käyttäen YHA:n urakka id:tä. Kutsun epäonnistuessa palautetaan virhe virhe-elementissä.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="urakat" nillable="false" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="urakka" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="yha-id" type="xs:long" nillable="false" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="elyt">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ely" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="vuodet">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="vuosi" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="sampotunnus" minOccurs="0" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="50"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="tunnus" nillable="false" minOccurs="1" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="20"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="virhe" minOccurs="0" maxOccurs="1" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="urakan-kohdehakuvastaus">
        <xs:annotation>
            <xs:documentation>
                Palauttaa urakan kohteet alikohteineen YHA:sta. Kohteille voidaan myöhemmin tätä kautta kirjata toteumatietoja. Kutsun epäonnistuessa palautetaan virhe virhe-elementissä.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kohteet" nillable="false" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="kohde" type="kohde" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="virhe" minOccurs="0" maxOccurs="1" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="urakan-kohteiden-toteumatietojen-kirjaus">
        <xs:annotation>
            <xs:documentation>
                Kirjaa urakan kohteet ja alikohteet toteumatietoineneen YHA:n.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="urakka" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="yha-id" type="xs:long" nillable="false" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="harja-id" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="sampotunnus" minOccurs="0" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="50"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="tunnus" nillable="false" minOccurs="1" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="kohteet" nillable="false" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="kohde" type="toteumakohde" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="urakan-kohteiden-toteumatietojen-kirjausvastaus">
        <xs:annotation>
            <xs:documentation>
                Mikäli kutsu onnistuu palautetaan tyhjä dokumentti. Virhetilanteessa virheet ilmoitetaan virhe-elementissä.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="virheet" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="virhe" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="kohde-yha-id" type="xs:long" minOccurs="0" maxOccurs="1"/>
                                        <xs:element name="selite" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="urakan-kohteen-poiston-kirjausvastaus">
        <xs:annotation>
            <xs:documentation>
                Mikäli kutsu onnistuu, annetaan palauteviesti. Virhetilanteessa virhe ilmoitetaan virhe-elementissä.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="palaute" type="xs:string" minOccurs="0"/>
                <xs:element name="virhe" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="kohde-yha-id" type="xs:long" minOccurs="0"/>
                            <xs:element name="selite" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--Entiteetit-->

    <xs:complexType name="tierekisteriosoitevali">
        <xs:sequence>
            <xs:element name="karttapaivamaara" type="xs:date" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="tienumero" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="aosa" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="aet" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="losa" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="let" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tierekisteriosoitevali-kaistalla-ja-ajoradalla">
        <xs:complexContent>
            <xs:extension base="tierekisteriosoitevali">
                <xs:sequence>
                    <xs:element name="ajorata" type="ajorata" nillable="false" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="kaista" type="kaista" nillable="false" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="kohde">
        <xs:sequence>
            <xs:element name="yha-id" type="xs:long" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="kohdenumero" type="kohdenumero" minOccurs="0" maxOccurs="1" nillable="true"/>
            <xs:element name="kohdetyyppi" nillable="false" minOccurs="1" maxOccurs="1" type="kohdetyyppi"/>
            <xs:element name="kohdetyotyyppi" nillable="false" minOccurs="1" maxOccurs="1" type="kohdetyotyyppi"/>
            <xs:element name="nimi" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="tunnus" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="tierekisteriosoitevali" type="tierekisteriosoitevali" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="alikohteet" nillable="false" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="alikohde" type="alikohde" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="toteumakohde">
        <xs:sequence>
            <xs:element name="yha-id" type="xs:long" minOccurs="0" maxOccurs="1"/>
            <xs:element name="harja-id" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="kohdenumero" type="kohdenumero" minOccurs="0" maxOccurs="1" nillable="true"/>
            <xs:element name="kohdetyyppi" nillable="false" minOccurs="1" maxOccurs="1" type="kohdetyyppi"/>
            <xs:element name="kohdetyotyyppi" nillable="false" minOccurs="1" maxOccurs="1" type="kohdetyotyyppi"/>
            <xs:element name="nimi" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="tunnus" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="toiden-aloituspaivamaara" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="paallystyksen-valmistumispaivamaara" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="kohteen-valmistumispaivamaara" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="takuupaivamaara" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="toteutunuthinta" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tierekisteriosoitevali" type="tierekisteriosoitevali" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="alustalle-tehdyt-toimet" nillable="false" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="alustalle-tehty-toimenpide" type="alustalle-tehty-toimenpide" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="kulutuskerrokselle-tehdyt-toimet" nillable="false" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="kulutuskerrokselle-tehty-toimenpide" type="kulutuskerrokselle-tehty-toimenpide" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="alikohde">
        <xs:sequence>
            <xs:element name="yha-id" type="xs:long" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="tierekisteriosoitevali" type="tierekisteriosoitevali-kaistalla-ja-ajoradalla" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="paallystystoimenpide" type="paallystystoimenpide" minOccurs="0" maxOccurs="1"/>
            <xs:element name="keskimaarainen-vuorokausiliikenne" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="yllapitoluokka" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="nykyinen-paallyste" type="paallyste" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="paallystystoimenpide">
        <xs:sequence>
            <xs:element name="uusi-paallyste" type="paallyste" minOccurs="0" maxOccurs="1"/>
            <xs:element name="raekoko" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="99"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="massamenekki" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>
                            Yksikkö: kg/m2
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="999"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="kokonaismassamaara" minOccurs="0" maxOccurs="1" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>
                        Yksikkö: tonni
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="rc-prosentti" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="kuulamylly" type="kuulamylly" minOccurs="0" maxOccurs="1"/>
            <xs:element name="paallystetyomenetelma" type="paallystetyomenetelma" nillable="false" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="alustalle-tehty-toimenpide">
        <xs:sequence>
            <xs:element name="harja-id" type="xs:long" nillable="false" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Harjan alustatoimenpiteen ID.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tierekisteriosoitevali" type="tierekisteriosoitevali-kaistalla-ja-ajoradalla" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="kasittelymenetelma" type="alustamenetelma" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="lisatty-paksuus" type="xs:short" nillable="true" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Yksikkö: senttimetri
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="kasittelysyvyys" type="xs:short" nillable="true" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Yksikkö: senttimetri
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="verkkotyyppi" type="alustan-verkkotyyppi" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="verkon-tarkoitus" type="alustan-verkon-tarkoitus" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="verkon-sijainti" type="alustan-verkon-sijainti" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="massamenekki" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>
                            Yksikkö: kg/m2
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="999"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="kokonaismassamaara" nillable="true" minOccurs="0" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>
                        Yksikkö: tonni
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="massa" type="massa" nillable="true" minOccurs="0"/>
            <xs:element name="murske" type="murske" nillable="true" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="kulutuskerrokselle-tehty-toimenpide">
        <xs:sequence>
            <xs:element name="yha-id" type="xs:long" nillable="true" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        YHA:sta saadun vastaavan alikohteen ID. Puuttuu, jos luotu harjassa.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="harja-id" type="xs:long" nillable="false" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Harjan alikohteen/kohdeosan ID.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="poistettu" type="xs:boolean" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="tierekisteriosoitevali" type="tierekisteriosoitevali-kaistalla-ja-ajoradalla"/>
            <xs:element name="leveys" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Yksikkö: metri
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="pinta-ala" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Yksikkö: neliömetri
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="paallystetyomenetelma" type="paallystetyomenetelma"/>
            <xs:element name="massamenekki" minOccurs="0">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>
                            Yksikkö: kg/m2
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="999"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="kokonaismassamaara" nillable="true" minOccurs="0" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>
                        Yksikkö: tonni
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="massa" type="massa" nillable="true" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="massa">
        <xs:sequence>
            <xs:element name="massatyyppi" type="massatyyppi"/>
            <xs:element name="max-raekoko">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:enumeration value="5"/>
                        <xs:enumeration value="8"/>
                        <xs:enumeration value="11"/>
                        <xs:enumeration value="16"/>
                        <xs:enumeration value="22"/>
                        <xs:enumeration value="31"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="kuulamyllyluokka" type="kuulamylly" nillable="true" minOccurs="0"/>
            <xs:element name="yhteenlaskettu-kuulamyllyarvo" type="xs:decimal" nillable="true" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Runkoaineiden kuulamyllyarvojen painotettu keskiarvo
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="yhteenlaskettu-litteysluku" type="xs:decimal" nillable="true" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Runkoaineiden litteyslukujen painotettu keskiarvo
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="litteyslukuluokka" nillable="true" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="F10"/>
                        <xs:enumeration value="F15"/>
                        <xs:enumeration value="F20"/>
                        <xs:enumeration value="F35"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="runkoaineet">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="runkoaine" type="runkoaine" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sideaineet">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="sideaine" type="sideaine" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="lisaaineet" nillable="true" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="lisaaine" type="lisaaine" nillable="true" minOccurs="0"
                                    maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="murske">
        <xs:sequence>
            <xs:element name="mursketyyppi" type="mursketyyppi"/>
            <xs:element name="rakeisuus" type="xs:string"/>
            <xs:element name="iskunkestavyys">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="LA30"/>
                        <xs:enumeration value="LA35"/>
                        <xs:enumeration value="LA40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="runkoaine">
        <xs:sequence>
            <xs:element name="runkoainetyyppi">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:enumeration value="1">
                            <xs:annotation>
                                <xs:documentation>
                                    Kiviaines
                                </xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="2">
                            <xs:annotation>
                                <xs:documentation>
                                    Asfalttirouhe
                                </xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="3">
                            <xs:annotation>
                                <xs:documentation>
                                    Erikseen lisättävä fillerikiviaines
                                </xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="4">
                            <xs:annotation>
                                <xs:documentation>
                                    Masuunikuomajauhe
                                </xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="5">
                            <xs:annotation>
                                <xs:documentation>
                                    Ferrokromikuona (OKTO)
                                </xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="6">
                            <xs:annotation>
                                <xs:documentation>
                                    Teräskuona
                                </xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="7">
                            <xs:annotation>
                                <xs:documentation>
                                    Muu
                                </xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="kuulamyllyarvo" nillable="true" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="litteysluku" nillable="true" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="massaprosentti">
                <xs:annotation>
                    <xs:documentation>
                        Prosentuaalinen osuus massasta, aiemmin asfalttirouheen osalta rc-prosentti
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="fillerityyppi" nillable="true" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Kalkkifilleri (KF)"/>
                        <xs:enumeration value="Lentotuhka (LT)"/>
                        <xs:enumeration value="Muu fillerikiviaines"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="kuvaus" nillable="true" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>

    </xs:complexType>

    <xs:complexType name="sideaine">
        <xs:sequence>
            <xs:element name="tyyppi" type="sideainetyyppi"/>
            <xs:element name="pitoisuus">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:annotation>
                            <xs:documentation>
                                Sideaineen pitoisuus prosentteina
                            </xs:documentation>
                        </xs:annotation>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="lisaaine">
        <xs:sequence>
            <xs:element name="tyyppi" type="lisaainetyyppi"/>
            <xs:element name="pitoisuus">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:annotation>
                            <xs:documentation>
                                Lisäaineen pitoisuus prosentteina
                            </xs:documentation>
                        </xs:annotation>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!--Tyypit-->

    <xs:simpleType name="kohdetyotyyppi">
        <xs:restriction base="xs:string">
            <xs:enumeration value="paallystys"/>
            <xs:enumeration value="paikkaus"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="kohdetyyppi">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>
                        päällyste
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>
                        kevytliikenne
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>
                        sora
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ajorata">
        <xs:restriction base="xs:int">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="kaista">
        <xs:restriction base="xs:int">
            <xs:enumeration value="11"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="13"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="17"/>
            <xs:enumeration value="18"/>
            <xs:enumeration value="19"/>
            <xs:enumeration value="21"/>
            <xs:enumeration value="22"/>
            <xs:enumeration value="23"/>
            <xs:enumeration value="24"/>
            <xs:enumeration value="25"/>
            <xs:enumeration value="26"/>
            <xs:enumeration value="27"/>
            <xs:enumeration value="28"/>
            <xs:enumeration value="29"/>
            <xs:enumeration value="31"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="paallyste">
        <xs:restriction base="xs:int">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>
                        betoni
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>
                        kivi
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="11">
                <xs:annotation>
                    <xs:documentation>
                        avoin asfaltti
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="12">
                <xs:annotation>
                    <xs:documentation>
                        asfalttibetoni
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="13">
                <xs:annotation>
                    <xs:documentation>
                        epäjatkuva asfaltti
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="14">
                <xs:annotation>
                    <xs:documentation>
                        kivimastiks
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="15">
                <xs:annotation>
                    <xs:documentation>
                        kantavan kerroksen ab
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="16">
                <xs:annotation>
                    <xs:documentation>
                        sidekerroksen ab
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="17">
                <xs:annotation>
                    <xs:documentation>
                        valuasfaltti
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="21">
                <xs:annotation>
                    <xs:documentation>
                        pehmeät ab / bitumi
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="22">
                <xs:annotation>
                    <xs:documentation>
                        pehmeät ab / pehmeä bitumi
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="23">
                <xs:annotation>
                    <xs:documentation>
                        pehmeät ab / bitumiöljy
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="24">
                <xs:annotation>
                    <xs:documentation>
                        sirotepintaus
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="31">
                <xs:annotation>
                    <xs:documentation>
                        soratien pintaus
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="41">
                <xs:annotation>
                    <xs:documentation>
                        sora
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="99">
                <xs:annotation>
                    <xs:documentation>
                        ei tietoa
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="kuulamylly">
        <xs:restriction base="xs:int">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>AN5</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>AN7</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>AN10</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation>AN14</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation>AN19</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="6">
                <xs:annotation>
                    <xs:documentation>AN30</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="7">
                <xs:annotation>
                    <xs:documentation>AN22</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="9">
                <xs:annotation>
                    <xs:documentation>Ei tietoa</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="paallystetyomenetelma">
        <xs:restriction base="xs:int">
            <xs:enumeration value="12">
                <xs:annotation>
                    <xs:documentation>paksuudeltaan vakio laatta</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="21">
                <xs:annotation>
                    <xs:documentation>massapintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="22">
                <xs:annotation>
                    <xs:documentation>kuumennuspintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="23">
                <xs:annotation>
                    <xs:documentation>MP kuumalle tasatulle alustalle</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="31">
                <xs:annotation>
                    <xs:documentation>remix-pintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="32">
                <xs:annotation>
                    <xs:documentation>2-kerroksinen remix-pintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="33">
                <xs:annotation>
                    <xs:documentation>PAB-O/V:n remix-pintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="34">
                <xs:annotation>
                    <xs:documentation>ART-pintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="35">
                <xs:annotation>
                    <xs:documentation>Novachip-massapintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="41">
                <xs:annotation>
                    <xs:documentation>karhinta</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="42">
                <xs:annotation>
                    <xs:documentation>sorastus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="43">
                <xs:annotation>
                    <xs:documentation>soratien kevyt korjaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="44">
                <xs:annotation>
                    <xs:documentation>soratien kelirikon poistava korjaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="45">
                <xs:annotation>
                    <xs:documentation>soratien raskas rakenteen parantaminen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="51">
                <xs:annotation>
                    <xs:documentation>hienojyrsintä</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="61">
                <xs:annotation>
                    <xs:documentation>sirotepintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="71">
                <xs:annotation>
                    <xs:documentation>urapaikkaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="72">
                <xs:annotation>
                    <xs:documentation>ura-remix</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="81">
                <xs:annotation>
                    <xs:documentation>vauriopaikkaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="99">
                <xs:annotation>
                    <xs:documentation>ei tietoa</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="alustamenetelma">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>Massanvaihto</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>AB</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>Verkko</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation>REM-TAS</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="11">
                <xs:annotation>
                    <xs:documentation>Bitumiemulsiostabilointi</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="12">
                <xs:annotation>
                    <xs:documentation>Vaahtobitumistabilointi</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="13">
                <xs:annotation>
                    <xs:documentation>Remix-stabilointi</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="14">
                <xs:annotation>
                    <xs:documentation>Sementtistabilointi</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="15">
                <xs:annotation>
                    <xs:documentation>Masuunihiekkastabilointi</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="16">
                <xs:annotation>
                    <xs:documentation>Komposiittistabilointi</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="21">
                <xs:annotation>
                    <xs:documentation>Kantavan kerroksen AB</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="22">
                <xs:annotation>
                    <xs:documentation>Sidekerroksen AB</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="23">
                <xs:annotation>
                    <xs:documentation>Murske</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="24">
                <xs:annotation>
                    <xs:documentation>Sekoitusjyrsintä</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="31">
                <xs:annotation>
                    <xs:documentation>Kuumennustasaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="32">
                <xs:annotation>
                    <xs:documentation>Massatasaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="41">
                <xs:annotation>
                    <xs:documentation>Tasausjyrsintä</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="42">
                <xs:annotation>
                    <xs:documentation>Laatikkojyrsintä</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="43">
                <xs:annotation>
                    <xs:documentation>Reunajyrsintä</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="99">
                <xs:annotation>
                    <xs:documentation>ei tietoa</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="alustan-verkkotyyppi">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>Teräsverkko</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>Lasikuituverkko</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>Muoviverkko</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation>Lujitekangas</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation>Suodatinkangas</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="9">
                <xs:annotation>
                    <xs:documentation>Muu materiaali</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="alustan-verkon-tarkoitus">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>Pituushalkeamien ehkäisy</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>Muiden routavaurioiden ehkäisy</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>Levennyksen tukeminen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation>Painumien ehkäisy</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation>Moniongelmaisen tukeminen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="9">
                <xs:annotation>
                    <xs:documentation>Muu tarkoitus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="alustan-verkon-sijainti">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>Päällysteessä</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>Kantavan kerroksen yläpinnassa</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>Kantavassa kerroksessa</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation>Kantavan kerroksen alapinnassa</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="9">
                <xs:annotation>
                    <xs:documentation>Muu sijainti</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="sideainetyyppi">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>Bitumi, 20/30</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>Bitumi, 35/50</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>Bitumi, 50/70</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation>Bitumi, 70/100</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation>Bitumi, 100/150</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="6">
                <xs:annotation>
                    <xs:documentation>Bitumi, 160/220</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="7">
                <xs:annotation>
                    <xs:documentation>Bitumi, 250/330</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="8">
                <xs:annotation>
                    <xs:documentation>Bitumi, 330/430</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="9">
                <xs:annotation>
                    <xs:documentation>Bitumi, 500/650</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="10">
                <xs:annotation>
                    <xs:documentation>Bitumi, 650/900</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="11">
                <xs:annotation>
                    <xs:documentation>Bitumi, V1500</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="12">
                <xs:annotation>
                    <xs:documentation>Bitumi, V3000</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="13">
                <xs:annotation>
                    <xs:documentation>Polymeerimodifioitu bitumi, PMB 75/130-65</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="14">
                <xs:annotation>
                    <xs:documentation>Polymeerimodifioitu bitumi, PMB 75/130-70</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="15">
                <xs:annotation>
                    <xs:documentation>Polymeerimodifioitu bitumi, PMB 40/100-70</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="16">
                <xs:annotation>
                    <xs:documentation>Polymeerimodifioitu bitumi, PMB 40/100-75</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="17">
                <xs:annotation>
                    <xs:documentation>Bitumiliuokset ja fluksatut bitumit, BL0</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="18">
                <xs:annotation>
                    <xs:documentation>Bitumiliuokset ja fluksatut bitumit, BL5</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="19">
                <xs:annotation>
                    <xs:documentation>Bitumiliuokset ja fluksatut bitumit, BL2Bio</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="20">
                <xs:annotation>
                    <xs:documentation>Bitumiemulsiot, BE-L</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="21">
                <xs:annotation>
                    <xs:documentation>Bitumiemulsiot, PBE-L</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="22">
                <xs:annotation>
                    <xs:documentation>Bitumiemulsiot, BE-SIP</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="23">
                <xs:annotation>
                    <xs:documentation>Bitumiemulsiot, BE-SOP</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="24">
                <xs:annotation>
                    <xs:documentation>Bitumiemulsiot, BE-AB</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="25">
                <xs:annotation>
                    <xs:documentation>Bitumiemulsiot, BE-PAB</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="26">
                <xs:annotation>
                    <xs:documentation>KF, Kalkkifilleri</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="99">
                <xs:annotation>
                    <xs:documentation>Ei tietoa</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="lisaainetyyppi">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>
                        Kuitu
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>
                        Tartuke
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>
                        Sementti
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation>
                        Bitumikaterouhe
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation>
                        Kumi- tai muovirouhe
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="6">
                <xs:annotation>
                    <xs:documentation>
                        Väriaine
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="7">
                <xs:annotation>
                    <xs:documentation>
                        Muu kemiallinen aine
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="99">
                <xs:annotation>
                    <xs:documentation>
                        Ei tietoa
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="kohdenumero">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="9999"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="poistettu">
        <xs:restriction base="xs:int">
            <xs:enumeration value="0">
                <xs:annotation>
                    <xs:documentation>Ei</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>Kyllä</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="massatyyppi">
        <xs:restriction base="xs:int">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>
                        BET, Betoni
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="11">
                <xs:annotation>
                    <xs:documentation>
                        AA, Avoin asfaltti
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="12">
                <xs:annotation>
                    <xs:documentation>
                        AB, Asfalttibetoni
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="13">
                <xs:annotation>
                    <xs:documentation>
                        EA, Epäjatkuva asfaltti (poistunut)
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="14">
                <xs:annotation>
                    <xs:documentation>
                        SMA, Kivimastiksiasfaltti
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="15">
                <xs:annotation>
                    <xs:documentation>
                        ABK, Kantavan kerroksen AB
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="16">
                <xs:annotation>
                    <xs:documentation>
                        ABS, Sidekerroksen AB
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="17">
                <xs:annotation>
                    <xs:documentation>
                        VA, Valuasfaltti
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="21">
                <xs:annotation>
                    <xs:documentation>
                        PAB-B, Pehmeät asfalttibetonit
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="22">
                <xs:annotation>
                    <xs:documentation>
                        PAB-V, Pehmeät asfalttibetonit
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="23">
                <xs:annotation>
                    <xs:documentation>
                        PAB-O, Pehmeät asfalttibetonit
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="99">
                <xs:annotation>
                    <xs:documentation>
                        Ei tietoa
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="566">
                <xs:annotation>
                    <xs:documentation>
                        EAB, Asfalttibetoni
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="567">
                <xs:annotation>
                    <xs:documentation>
                        ABtiivis
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="568">
                <xs:annotation>
                    <xs:documentation>
                        EABK, Kantavan kerroksen EAB
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="569">
                <xs:annotation>
                    <xs:documentation>
                        EPAB-B, Pehmeät E asfalttibetonit
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="570">
                <xs:annotation>
                    <xs:documentation>
                        EPAB-V, Pehmeät asfalttibetonit
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="571">
                <xs:annotation>
                    <xs:documentation>
                        Komposiittiasfaltti
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="mursketyyppi">
        <xs:restriction base="xs:int">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>
                        Kalliomurske
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>
                        Sorastusmurske
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>
                        (UUSIO) RA, Asfalttirouhe
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
