resources/xsd/tierekisteri/schemas/koordinaatit.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.solita.fi/harja/tierekisteri/koordinaatit" version="1.0">

    <xs:complexType name="koordinaatit">
        <xs:sequence>
            <xs:element minOccurs="0" name="x" type="xs:int"/>
            <xs:element minOccurs="0" name="y" type="xs:int"/>
            <xs:element minOccurs="0" name="z" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
