resources/xsd/velho/velho.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.liikennevirasto.fi/xsd/velho"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns="http://www.liikennevirasto.fi/xsd/velho"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!--Kutsujen ja vastausten sisällöt-->

    <xs:element name="urakan-kohteiden-toteumatietojen-kirjaus">
        <xs:annotation>
            <xs:documentation>
                Kirjaa urakan kohteet ja alikohteet toteumatietoineneen YHAan.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="urakka" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="yha-id" type="xs:long" nillable="false" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="harja-id" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="sampotunnus" minOccurs="0" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="50"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="tunnus" nillable="false" minOccurs="1" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="kohteet" nillable="false" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="kohde" type="toteumakohde" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!--Entiteetit-->

    <xs:complexType name="tierekisteriosoitevali">
        <xs:sequence>
            <xs:element name="karttapaivamaara" type="xs:date" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="tienumero" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="aosa" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="aet" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="losa" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="let" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tierekisteriosoitevali-kaistalla-ja-ajoradalla">
        <xs:complexContent>
            <xs:extension base="tierekisteriosoitevali">
                <xs:sequence>
                    <xs:element name="ajorata" type="ajorata" nillable="false" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="kaista" type="kaista" nillable="false" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="tierekisteriosoitevali-valinnaisella-kaistalla-ja-ajoradalla">
        <xs:complexContent>
            <xs:extension base="tierekisteriosoitevali">
                <xs:sequence>
                    <xs:element name="ajorata" type="ajorata" nillable="true" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="kaista" type="kaista" nillable="true" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="kohde">
        <xs:sequence>
            <xs:element name="yha-id" type="xs:long" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="kohdenumero" type="kohdenumero" minOccurs="0" maxOccurs="1" nillable="true"/>
            <xs:element name="kohdetyyppi" nillable="false" minOccurs="1" maxOccurs="1" type="kohdetyyppi"/>
            <xs:element name="kohdetyotyyppi" nillable="false" minOccurs="1" maxOccurs="1" type="kohdetyotyyppi"/>
            <xs:element name="nimi" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="tunnus" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="yllapitoluokka" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="keskimaarainen-vuorokausiliikenne" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="nykyinen-paallyste" type="paallyste" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tierekisteriosoitevali" type="tierekisteriosoitevali-valinnaisella-kaistalla-ja-ajoradalla" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="alikohteet" nillable="false" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="alikohde" type="alikohde" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="toteumakohde">
        <xs:sequence>
            <xs:element name="yha-id" type="xs:long" minOccurs="0" maxOccurs="1"/>
            <xs:element name="harja-id" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="kohdenumero" type="kohdenumero" minOccurs="0" maxOccurs="1" nillable="true"/>
            <xs:element name="kohdetyyppi" nillable="false" minOccurs="1" maxOccurs="1" type="kohdetyyppi"/>
            <xs:element name="kohdetyotyyppi" nillable="false" minOccurs="1" maxOccurs="1" type="kohdetyotyyppi"/>
            <xs:element name="nimi" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="tunnus" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="toiden-aloituspaivamaara" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="paallystyksen-valmistumispaivamaara" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="kohteen-valmistumispaivamaara" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="takuupaivamaara" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="toteutunuthinta" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tierekisteriosoitevali" type="tierekisteriosoitevali-valinnaisella-kaistalla-ja-ajoradalla" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="alustalle-tehdyt-toimet" nillable="false" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="alustalle-tehty-toimenpide" type="alustalle-tehty-toimenpide" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="alikohteet" nillable="false" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="alikohde" type="toteuma-alikohde" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="alikohde">
        <xs:sequence>
            <xs:element name="yha-id" type="xs:long" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="tierekisteriosoitevali" type="tierekisteriosoitevali-kaistalla-ja-ajoradalla" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="paallystystoimenpide" type="paallystystoimenpide" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="toteuma-alikohde">
        <xs:sequence>
            <xs:element name="yha-id" type="xs:long" minOccurs="0" maxOccurs="1"/>
            <xs:element name="harja-id" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="tierekisteriosoitevali" type="tierekisteriosoitevali-kaistalla-ja-ajoradalla" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="geometria" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="paallystystoimenpide" type="toteumapaallystystoimenpide" minOccurs="0" maxOccurs="1"/>
            <xs:element name="materiaalit" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="materiaali" type="materiaali" minOccurs="0" maxOccurs="unbounded">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="paallystystoimenpide">
        <xs:sequence>
            <xs:element name="uusi-paallyste" type="paallyste" minOccurs="0" maxOccurs="1"/>
            <xs:element name="raekoko" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="99"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="massamenekki" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>
                            Yksikkö: kg/m2
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="999"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="kokonaismassamaara" minOccurs="0" maxOccurs="1" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>
                        Yksikkö: tonni
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="rc-prosentti" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="kuulamylly" type="kuulamylly" minOccurs="0" maxOccurs="1"/>
            <xs:element name="paallystetyomenetelma" type="paallystetyomenetelma" nillable="false" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="toteumapaallystystoimenpide">
        <xs:complexContent>
            <xs:extension base="paallystystoimenpide">
                <xs:sequence>
                    <xs:element name="leveys" type="xs:decimal" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                Yksikkö: metri
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="pinta-ala" type="xs:decimal" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                Yksikkö: neliömetri
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="materiaali">
        <xs:sequence>
            <xs:element name="kiviainesesiintyman-nimi" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="kiviaineksen-km-arvo" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="kiviaineksen-muotoarvo" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="sideainetyyppi" type="sideainetyyppi" minOccurs="0" maxOccurs="1"/>
            <xs:element name="sideainepitoisuus" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <xs:element name="lisa-aineet" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="alustalle-tehty-toimenpide">
        <xs:sequence>
            <xs:element name="tierekisteriosoitevali" type="tierekisteriosoitevali-valinnaisella-kaistalla-ja-ajoradalla" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="kasittelymenetelma" type="alustamenetelma" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="kasittelypaksuus" type="xs:short" nillable="false" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Yksikkö: senttimetri
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="verkkotyyppi" type="alustan-verkkotyyppi" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="verkon-tarkoitus" type="alustan-verkon-tarkoitus" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="verkon-sijainti" type="alustan-verkon-sijainti" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tekninen-toimenpide" type="alustan-tekninen-toimenpide" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="tienkohtaType">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="reuna" minOccurs="0" maxOccurs="unbounded">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>
                            Reuna ilmaistaan järjestysnumerolla 1 tai 2.
                            Tietä tarkastellaan tierekisteriosoitteen kasvusuunnassa.
                            Yläreuna on 1, alareuna 2.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ajoura" minOccurs="0" maxOccurs="unbounded">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>
                            Ajoura ilmaistaan järjestysnumerolla. Ajourat numeroidaan ylhäältä alaspäin.
                            Tietä tarkastellaan tierekisteriosoitteen kasvusuunnassa.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ajouravali" minOccurs="0" maxOccurs="unbounded">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>
                            Ajourien välinen väli ilmaistaan järjestysnumerolla. Välit numeroidaan ylhäältä alaspäin.
                            Tietä tarkastellaan tierekisteriosoitteen kasvusuunnassa.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="keskisauma" minOccurs="0" maxOccurs="unbounded">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>
                            Kaistojen välinen keskisauma ilmaistaan järjestysnumerolla. Keskisaumat numeroidaan ylhäältä
                            alaspäin.
                            Tietä tarkastellaan tierekisteriosoitteen kasvusuunnassa.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="paikkaustoteumaType">
        <xs:sequence>
            <xs:element name="paikkaustoteuman-harja-id" type="xs:int" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="tyomenetelma" type="paikkaustyomenetelmaEnum" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="aloituspaivamaara" type="xs:date" minOccurs="1" maxOccurs="1"/>
            <xs:element name="lopetuspaivamaara" type="xs:date" minOccurs="1" maxOccurs="1"/>
            <xs:element name="sijainti" type="tierekisteriosoitevali-kaistalla-ja-ajoradalla" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="tienkohta" type="tienkohtaType" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="massatyyppi" type="paikkausmassaEnum" minOccurs="0" maxOccurs="1"/>
            <xs:element name="massamenekki" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>
                            Yksikkö: kg/m2
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="999"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="raekoko" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="99"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="kuulamyllyluokka" type="kuulamylly" minOccurs="0" maxOccurs="1"/>
            <xs:element name="leveys" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>
                            Yksikkö: m
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="materiaalit" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="materiaali" type="materiaali" minOccurs="0" maxOccurs="unbounded">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>



    <!--Tyypit-->

    <xs:simpleType name="kohdetyotyyppi">
        <xs:restriction base="xs:string">
            <xs:enumeration value="paallystys"/>
            <xs:enumeration value="paikkaus"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="kohdetyyppi">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>
                        päällyste
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>
                        kevytliikenne
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>
                        sora
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ajorata">
        <xs:restriction base="xs:int">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="kaista">
        <xs:restriction base="xs:int">
            <xs:enumeration value="1"/>
            <xs:enumeration value="11"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="13"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="17"/>
            <xs:enumeration value="18"/>
            <xs:enumeration value="19"/>
            <xs:enumeration value="21"/>
            <xs:enumeration value="22"/>
            <xs:enumeration value="23"/>
            <xs:enumeration value="24"/>
            <xs:enumeration value="25"/>
            <xs:enumeration value="26"/>
            <xs:enumeration value="27"/>
            <xs:enumeration value="28"/>
            <xs:enumeration value="29"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="paallyste">
        <xs:restriction base="xs:int">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>
                        betoni
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>
                        kivi
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="11">
                <xs:annotation>
                    <xs:documentation>
                        avoin asfaltti
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="12">
                <xs:annotation>
                    <xs:documentation>
                        asfalttibetoni
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="13">
                <xs:annotation>
                    <xs:documentation>
                        epäjatkuva asfaltti
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="14">
                <xs:annotation>
                    <xs:documentation>
                        kivimastiks
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="15">
                <xs:annotation>
                    <xs:documentation>
                        kantavan kerroksen ab
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="16">
                <xs:annotation>
                    <xs:documentation>
                        sidekerroksen ab
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="17">
                <xs:annotation>
                    <xs:documentation>
                        valuasfaltti
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="21">
                <xs:annotation>
                    <xs:documentation>
                        pehmeät ab / bitumi
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="22">
                <xs:annotation>
                    <xs:documentation>
                        pehmeät ab / pehmeä bitumi
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="23">
                <xs:annotation>
                    <xs:documentation>
                        pehmeät ab / bitumiöljy
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="24">
                <xs:annotation>
                    <xs:documentation>
                        sirotepintaus
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="31">
                <xs:annotation>
                    <xs:documentation>
                        soratien pintaus
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="41">
                <xs:annotation>
                    <xs:documentation>
                        sora
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="99">
                <xs:annotation>
                    <xs:documentation>
                        ei tietoa
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="paikkausmassaEnum">
        <xs:restriction base="xs:int">
            <xs:enumeration value="12">
                <xs:annotation>
                    <xs:documentation>
                        asfalttibetoni
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="14">
                <xs:annotation>
                    <xs:documentation>
                        kivimastiks
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="21">
                <xs:annotation>
                    <xs:documentation>
                        pehmeät ab / bitumi
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="kuulamylly">
        <xs:restriction base="xs:int">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>AN5</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>AN7</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>AN10</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation>AN14</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation>AN19</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="6">
                <xs:annotation>
                    <xs:documentation>AN30</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="7">
                <xs:annotation>
                    <xs:documentation>AN22</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="paallystetyomenetelma">
        <xs:restriction base="xs:int">
            <xs:enumeration value="12">
                <xs:annotation>
                    <xs:documentation>paksuudeltaan vakio laatta</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="21">
                <xs:annotation>
                    <xs:documentation>massapintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="22">
                <xs:annotation>
                    <xs:documentation>kuumennuspintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="23">
                <xs:annotation>
                    <xs:documentation>MP kuumalle tasatulle alustalle</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="31">
                <xs:annotation>
                    <xs:documentation>remix-pintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="32">
                <xs:annotation>
                    <xs:documentation>2-kerroksinen remix-pintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="33">
                <xs:annotation>
                    <xs:documentation>PAB-O/V:n remix-pintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="34">
                <xs:annotation>
                    <xs:documentation>ART-pintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="35">
                <xs:annotation>
                    <xs:documentation>Novachip-massapintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="41">
                <xs:annotation>
                    <xs:documentation>karhinta</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="51">
                <xs:annotation>
                    <xs:documentation>hienojyrsintä</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="61">
                <xs:annotation>
                    <xs:documentation>sirotepintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="71">
                <xs:annotation>
                    <xs:documentation>urapaikkaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="72">
                <xs:annotation>
                    <xs:documentation>ura-remix</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="81">
                <xs:annotation>
                    <xs:documentation>vauriopaikkaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="99">
                <xs:annotation>
                    <xs:documentation>ei tietoa</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="paikkausurakkatyyppiEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Hoidon alueurakka"/>
            <xs:enumeration value="Päällystyksen palvelusopimusurakka"/>
            <xs:enumeration value="Päällystysurakka"/>
            <xs:enumeration value="Paikkausurakka"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="paikkaustyomenetelmaEnum">
        <xs:restriction base="xs:int">
            <xs:enumeration value="21">
                <xs:annotation>
                    <xs:documentation>Example. TODO: massapintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="22">
                <xs:annotation>
                    <xs:documentation>Example. TODO: kuumennuspintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="31">
                <xs:annotation>
                    <xs:documentation>Example. TODO: remix-pintaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="alustamenetelma">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>Massanvaihto</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="11">
                <xs:annotation>
                    <xs:documentation>Bitumiemulsiostabilointi</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="12">
                <xs:annotation>
                    <xs:documentation>Vaahtobitumistabilointi</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="13">
                <xs:annotation>
                    <xs:documentation>Remix-stabilointi</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="14">
                <xs:annotation>
                    <xs:documentation>Sementtistabilointi</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="15">
                <xs:annotation>
                    <xs:documentation>Masuunihiekkastabilointi</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="16">
                <xs:annotation>
                    <xs:documentation>Komposiittistabilointi</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="21">
                <xs:annotation>
                    <xs:documentation>Kantavan kerroksen AB</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="22">
                <xs:annotation>
                    <xs:documentation>Sidekerroksen AB</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="23">
                <xs:annotation>
                    <xs:documentation>Murske</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="24">
                <xs:annotation>
                    <xs:documentation>Sekoitusjyrsintä</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="31">
                <xs:annotation>
                    <xs:documentation>Kuumennustasaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="32">
                <xs:annotation>
                    <xs:documentation>Massatasaus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="41">
                <xs:annotation>
                    <xs:documentation>Tasausjyrsintä</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="42">
                <xs:annotation>
                    <xs:documentation>Laatikkojyrsintä</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="43">
                <xs:annotation>
                    <xs:documentation>Reunajyrsintä</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="99">
                <xs:annotation>
                    <xs:documentation>ei tietoa</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="alustan-verkkotyyppi">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>Teräsverkko</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>Lasikuituverkko</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>Muoviverkko</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation>Lujitekangas</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation>Suodatinkangas</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="9">
                <xs:annotation>
                    <xs:documentation>Muu materiaali</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="alustan-verkon-tarkoitus">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>Pituushalkeamien ehkäisy</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>Muiden routavaurioiden ehkäisy</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>Levennyksen tukeminen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation>Painumien ehkäisy</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation>Moniongelmaisen tukeminen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="9">
                <xs:annotation>
                    <xs:documentation>Muu tarkoitus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="alustan-verkon-sijainti">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>Päällysteessä</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>Kantavan kerroksen yläpinnassa</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>Kantavassa kerroksessa</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation>Kantavan kerroksen alapinnassa</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="9">
                <xs:annotation>
                    <xs:documentation>Muu sijainti</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="alustan-tekninen-toimenpide">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>rakentaminen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>suuntauksen parantaminen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>rakenteen parantaminen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation>kevyt rakenteen parantaminen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="9">
                <xs:annotation>
                    <xs:documentation>ei tietoa</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="sideainetyyppi">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>20/30</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>35/50</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>50/70</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation>70/100</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation>100/150</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="6">
                <xs:annotation>
                    <xs:documentation>160/220</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="7">
                <xs:annotation>
                    <xs:documentation>250/330</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="8">
                <xs:annotation>
                    <xs:documentation>330/430</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="9">
                <xs:annotation>
                    <xs:documentation>500/650</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="10">
                <xs:annotation>
                    <xs:documentation>650/900</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="11">
                <xs:annotation>
                    <xs:documentation>V1500</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="12">
                <xs:annotation>
                    <xs:documentation>V3000</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="13">
                <xs:annotation>
                    <xs:documentation>KB65</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="14">
                <xs:annotation>
                    <xs:documentation>KB75</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="15">
                <xs:annotation>
                    <xs:documentation>KB85</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="16">
                <xs:annotation>
                    <xs:documentation>BL5</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="17">
                <xs:annotation>
                    <xs:documentation>BL2K</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="18">
                <xs:annotation>
                    <xs:documentation>BL2 Bio</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="19">
                <xs:annotation>
                    <xs:documentation>BE-L</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="20">
                <xs:annotation>
                    <xs:documentation>BE-SIP</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="21">
                <xs:annotation>
                    <xs:documentation>BE-SOP</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="22">
                <xs:annotation>
                    <xs:documentation>BE-PAB</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="kohdenumero">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="9999"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>