test/xsd/sampo/outbound/nikuxog_costPlan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.0.1 U (http://www.xmlspy.com) by Murali (Niku) -->
<!--W3C Schema generated by XML Spy v4.0 NT beta 2 build Jul 26 2001 (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="./status.xsd"/>
  <xs:include schemaLocation="./common.xsd"/>
  <xs:include schemaLocation="./plan.xsd"/>
  <xs:element name="NikuDataBus">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Header"/>
        <xs:element name="CostPlans">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CostPlan" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Description"/>
                    <xs:element ref="GroupingAttributes" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="Details" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Detail" type="DetailType" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element ref="CustomInformation" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                  <xs:attributeGroup ref="CostPlanProperties"/>
                  <!-- <xs:attribute name="status">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="NOT_SUBMITTED"/>
                        <xs:enumeration value="SUBMITTED"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>   -->
                  <xs:attribute name="isPlanOfRecord" type="xs:boolean"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="XOGOutput" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

  
