test/xsd/sampo/outbound/plan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.1 U (http://www.xmlspy.com) by Niku (Niku Corporation) -->
<!--W3C Schema generated by XML Spy v4.0 NT beta 2 build Jul 26 2001 (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="./common.xsd"/>

  <xs:attributeGroup name="PlanProperties">
    <xs:attribute name="code" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="90"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="name" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="240"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="investmentCode" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="60"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="investmentType" type="xs:string" use="optional"/>
    <xs:attribute name="revision" type="xs:integer"/>
    <xs:attribute name="periodType" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ANNUALLY"/>
          <xs:enumeration value="MONTHLY"/>
          <xs:enumeration value="QUARTERLY"/>
          <xs:enumeration value="SEMI_MONTHLY"/>
          <xs:enumeration value="WEEKLY"/>
          <xs:enumeration value="13_PERIODS_PER_YEAR"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="startPeriod" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="32"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="finishPeriod" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="32"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="CostPlanProperties">
    <xs:attributeGroup ref="PlanProperties"/>
    <xs:attribute name="benefitPlanCode" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="90"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="userName" type="xs:string"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="BudgetPlanProperties">
    <xs:attributeGroup ref="CostPlanProperties"/>
    <xs:attribute name="sourceCostPlanCode" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="90"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="forceReplace" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:boolean"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:complexType name="DetailType">
    <xs:sequence>
      <!--
      <xs:element name="Units" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="segment">
              <xs:complexType>
                <xs:attribute name="start" type="xs:date" use="required"/>
                <xs:attribute name="finish" type="xs:date" use="required"/>
                <xs:attribute name="value" type="xs:double"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Cost" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="segment">
        <xs:complexType>
                <xs:attribute name="start" type="xs:date" use="required"/>
                <xs:attribute name="finish" type="xs:date" use="required"/>
                <xs:attribute name="value" type="xs:double"/>
        </xs:complexType>
      </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      -->
      <xs:element name="Cost" type="tsvType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Units" type="tsvType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Revenue" type="tsvType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="GroupingAttributes" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="GroupingAttribute" minOccurs="1" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="code" type="xs:string" use="required"/>
                <xs:attribute name="value" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element ref="CustomInformation" minOccurs="0" maxOccurs="unbounded"/>

    </xs:sequence>

    <xs:attribute name="glAccountMain" type="xs:string" use="optional"/>
    <xs:attribute name="glAccountSub" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="BenefitDetailType">
	<!-- Digia/ollindgr: xjc complained, moved attribute after sequence -->
    <xs:sequence>
      <xs:element name="Benefit" type="tsvType" minOccurs="0" maxOccurs="unbounded"/>
	  <xs:element name="ActualBenefit" type="tsvType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="CustomInformation" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
	<xs:attribute name="detailName" type="xs:string" use="required"/>
  </xs:complexType>

  <!-- Possible grouping attributes are charge_code_id, input_type_code_id, location_id,
  department_id, resource_id, role_id, resource_class_id, transaction_class_id,
  lov1_id, lov2_id -->
  <xs:element name="GroupingAttributes" type="GroupingAttributes"/>
  <xs:complexType name="GroupingAttributes">
    <xs:sequence>
      <xs:element name="GroupingAttribute" type="GroupingAttribute" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="GroupingAttribute">
    <xs:restriction base="xs:string">
      <xs:enumeration value="charge_code_id"/>
      <xs:enumeration value="input_type_code_id"/>
      <xs:enumeration value="department_id"/>
      <xs:enumeration value="location_id"/>
      <xs:enumeration value="resource_id"/>
      <xs:enumeration value="role_id"/>
      <xs:enumeration value="transaction_class_id"/>
      <xs:enumeration value="resource_class_id"/>
      <xs:enumeration value="lov1_id"/>
      <xs:enumeration value="lov2_id"/>
    </xs:restriction>
  </xs:simpleType>

 <xs:attributeGroup name="PlanDefaultAttributes">
    <xs:annotation>
      <xs:documentation>
        The set of attributes for plan defaults. The object code and id are not included in here as the owning element
        is expected to be within the context of another object.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="isComplete" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:boolean"/>
      </xs:simpleType>
    </xs:attribute>    
    <xs:attribute name="periodTypeCode">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ANNUALLY"/>
          <xs:enumeration value="MONTHLY"/>
          <xs:enumeration value="QUARTERLY"/>
          <xs:enumeration value="SEMI_MONTHLY"/>
          <xs:enumeration value="WEEKLY"/>
          <xs:enumeration value="13_PERIODS_PER_YEAR"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="startPeriodName">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="32"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="endPeriodName">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="32"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="lockPlanStructure">
      <xs:simpleType>
        <xs:restriction base="xs:boolean"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="freezeDate">
      <xs:simpleType>
        <xs:restriction base="xs:date"/>
      </xs:simpleType>
    </xs:attribute>
    <!-- Cannot refer to the attribute Group as the primary plan by is required -->
  </xs:attributeGroup>
  <xs:complexType name="PlanDefaultsType">
    <xs:sequence>
    <xs:element ref="GroupingAttributes" minOccurs="0"/>
    </xs:sequence>
    <xs:attributeGroup ref="PlanDefaultAttributes"/>
  </xs:complexType>
</xs:schema>

  
